In [1]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm

We will begin by setting the main data we obtained, which is the lines of all the business sales from 2021 until 2023. We will transform the csv file into a dataframe to work with it.

In [2]:
# If necessary, adjust the file path relative to the current working directory
file_path = 'raw_data/final_albaranes_desde_2021.csv'

# Import the CSV file as a DataFrame
df = pd.read_csv(file_path)

C:\Users\Prueba1\AppData\Local\Temp\ipykernel_25932\3854223096.py:5: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [3]:
df.head()

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,ARTICULO,DESCRIPCION,UNIDADES,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,is_match,new_codes
0,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,1601ES1,LLAVE DE PASO ESFERA MODELO TAJO 2000 DE 1 ARCO,1.0,NaN,NaN,NaN,NaN,True,1601ES1
1,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,0201BU272832,MANGUITO ROSCA HEMBRA FIGURA 270 DE BRONCE DE ...,1.0,NaN,NaN,NaN,NaN,True,0201BU272832
2,2021,SM1,116.0,2021-01-05 00:00:00.000,78549.0,0803B1603000,TUBO DE PVC PARA ENCOLAR DE 160x3000 SERIE B GRIS,1.0,NaN,NaN,NaN,NaN,True,0803B1603000
3,2021,BT7,54.0,2021-01-05 00:00:00.000,6593.0,64461114,S 61 DE 32 11/4 SIFON BOTELLA EXTENSIBLE INCLI...,1.0,NaN,NaN,NaN,NaN,True,064461114
4,2021,2,89.0,2021-01-08 00:00:00.000,83451.0,0231FF0100,"FILTRO CARTUCHO FP3I - 1"" TRANSPARENTE REF. 30...",1.0,NaN,NaN,NaN,NaN,True,0231FF0100

In [4]:
df = df.drop(columns=['ARTICULO'])

In [5]:
df = df.rename(columns={'new_codes': 'ARTICULO'})

In [6]:
df.head()

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,is_match,ARTICULO
0,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,LLAVE DE PASO ESFERA MODELO TAJO 2000 DE 1 ARCO,1.0,NaN,NaN,NaN,NaN,True,1601ES1
1,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,MANGUITO ROSCA HEMBRA FIGURA 270 DE BRONCE DE ...,1.0,NaN,NaN,NaN,NaN,True,0201BU272832
2,2021,SM1,116.0,2021-01-05 00:00:00.000,78549.0,TUBO DE PVC PARA ENCOLAR DE 160x3000 SERIE B GRIS,1.0,NaN,NaN,NaN,NaN,True,0803B1603000
3,2021,BT7,54.0,2021-01-05 00:00:00.000,6593.0,S 61 DE 32 11/4 SIFON BOTELLA EXTENSIBLE INCLI...,1.0,NaN,NaN,NaN,NaN,True,064461114
4,2021,2,89.0,2021-01-08 00:00:00.000,83451.0,"FILTRO CARTUCHO FP3I - 1"" TRANSPARENTE REF. 30...",1.0,NaN,NaN,NaN,NaN,True,0231FF0100

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770635 entries, 0 to 770634
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   EJERCICIO    770631 non-null  object
 1   SERIE        770590 non-null  object
 2   NUMERO       770242 non-null  object
 3   FECHA        770242 non-null  object
 4   CLIENTE      770242 non-null  float64
 5   DESCRIPCION  769069 non-null  object
 6   UNIDADES     770233 non-null  float64
 7   Unnamed: 8   185 non-null     float64
 8   Unnamed: 9   185 non-null     float64
 9   Unnamed: 10  185 non-null     float64
 10  Unnamed: 11  185 non-null     float64
 11  is_match     770635 non-null  bool
 12  ARTICULO     770635 non-null  object
dtypes: bool(1), float64(6), object(6)
memory usage: 71.3+ MB

We can see that columns unnamed: 8,9,10 and 11 do not contain enough information for it to be relevant to analyse.

In [8]:
df.nunique()

EJERCICIO        150
SERIE             43
NUMERO         40674
FECHA           1140
CLIENTE         4379
DESCRIPCION    21849
UNIDADES         476
Unnamed: 8        14
Unnamed: 9        14
Unnamed: 10       14
Unnamed: 11       14
is_match           1
ARTICULO       21215
dtype: int64

In [9]:
df.isnull().sum()

EJERCICIO           4
SERIE              45
NUMERO            393
FECHA             393
CLIENTE           393
DESCRIPCION      1566
UNIDADES          402
Unnamed: 8     770450
Unnamed: 9     770450
Unnamed: 10    770450
Unnamed: 11    770450
is_match            0
ARTICULO            0
dtype: int64

In [10]:
df = df.drop(columns=['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11','is_match'])

df.head()

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO
0,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,LLAVE DE PASO ESFERA MODELO TAJO 2000 DE 1 ARCO,1.0,1601ES1
1,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,MANGUITO ROSCA HEMBRA FIGURA 270 DE BRONCE DE ...,1.0,0201BU272832
2,2021,SM1,116.0,2021-01-05 00:00:00.000,78549.0,TUBO DE PVC PARA ENCOLAR DE 160x3000 SERIE B GRIS,1.0,0803B1603000
3,2021,BT7,54.0,2021-01-05 00:00:00.000,6593.0,S 61 DE 32 11/4 SIFON BOTELLA EXTENSIBLE INCLI...,1.0,064461114
4,2021,2,89.0,2021-01-08 00:00:00.000,83451.0,"FILTRO CARTUCHO FP3I - 1"" TRANSPARENTE REF. 30...",1.0,0231FF0100

In [11]:
df.shape

(770635, 8)

We must drop the following customers, because they represent the movements between warehouses. 1, 2, 101, 11077, 78706

In [12]:
# We make a list of the customer codes we do not want in our analysis
customers_to_drop = [1, 2, 101, 11077, 78706]

# We identify the instances to drop based on the 'CLIENTE' column
indices_to_drop = df[df['CLIENTE'].isin(customers_to_drop)].index

In [13]:
# We drop the instances previously identified.
df.drop(indices_to_drop, inplace=True)

In [14]:
# We check how the shape is looking like, as well as the head of the dataframe.
print(df.shape)
df.head()

(764396, 8)

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO
0,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,LLAVE DE PASO ESFERA MODELO TAJO 2000 DE 1 ARCO,1.0,1601ES1
1,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,MANGUITO ROSCA HEMBRA FIGURA 270 DE BRONCE DE ...,1.0,0201BU272832
2,2021,SM1,116.0,2021-01-05 00:00:00.000,78549.0,TUBO DE PVC PARA ENCOLAR DE 160x3000 SERIE B GRIS,1.0,0803B1603000
3,2021,BT7,54.0,2021-01-05 00:00:00.000,6593.0,S 61 DE 32 11/4 SIFON BOTELLA EXTENSIBLE INCLI...,1.0,064461114
4,2021,2,89.0,2021-01-08 00:00:00.000,83451.0,"FILTRO CARTUCHO FP3I - 1"" TRANSPARENTE REF. 30...",1.0,0231FF0100

We must remove all the instances where the ARTICULO column has a null value, for they represent notes for the customer, not product sales.

In [15]:
# Drop rows where the 'ARTICULO' column has null values
df.dropna(subset=['ARTICULO'], inplace=True)

In [16]:
df.shape

(764396, 8)

In [17]:
df.isnull().sum()

EJERCICIO         4
SERIE            45
NUMERO          393
FECHA           393
CLIENTE         393
DESCRIPCION    1563
UNIDADES        402
ARTICULO          0
dtype: int64

In [18]:
null_df_check = df[df['ARTICULO'].str.contains('NULL', na=False)].index

null_df_check

Index([], dtype='int64')

We will therefore proceed to remove all instances that contain the word DSCTL in the DESCRIPCION. After that, we will review the content in the instances where DESCRIPCION is null to decide what to do with that data.

In [19]:
# We identify the instances where 'DESCRIPCION' contains 'DSCTL'
drop_dsctl = df[df['DESCRIPCION'].str.contains('DSCTL', na=False)].index

# We drop the instances previously identified in place
df.drop(drop_dsctl, inplace=True)

In [20]:
print(df.shape)
df.head()

(761639, 8)

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO
0,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,LLAVE DE PASO ESFERA MODELO TAJO 2000 DE 1 ARCO,1.0,1601ES1
1,2021,2,88.0,2021-01-07 00:00:00.000,80561.0,MANGUITO ROSCA HEMBRA FIGURA 270 DE BRONCE DE ...,1.0,0201BU272832
2,2021,SM1,116.0,2021-01-05 00:00:00.000,78549.0,TUBO DE PVC PARA ENCOLAR DE 160x3000 SERIE B GRIS,1.0,0803B1603000
3,2021,BT7,54.0,2021-01-05 00:00:00.000,6593.0,S 61 DE 32 11/4 SIFON BOTELLA EXTENSIBLE INCLI...,1.0,064461114
4,2021,2,89.0,2021-01-08 00:00:00.000,83451.0,"FILTRO CARTUCHO FP3I - 1"" TRANSPARENTE REF. 30...",1.0,0231FF0100

In [21]:
df_with_nulls = df[df['DESCRIPCION'].isnull()]

# Display the result
print(df_with_nulls)

                                                EJERCICIO       SERIE  NUMERO  \
697                                                  2021  SM1          186.0
3050                                                 2021  SM1          183.0
3141                                                 2021  SM1          183.0
3488                                                 2021           8   149.0
4006                                                 2021           8   920.0
...                                                   ...         ...     ...
652874  CAMBIO NOMBRE 85474 MARINA KOVERA             ...        0.00     NaN
653035  Con latiguillos de alimentación               ...        1.00     NaN
654091                                               2023           8  2238.0
654107  Con latiguillos de alimentación flexibles G3/8...        1.00     NaN
654120  CAMBIO NOMBRE A 85474 MARINA KOVERA           ...        0.00     NaN

                          FECHA  CLIENTE DESCRIPCION  UNIDADES        ARTICULO
697     2021-01-07 00:00:00.000  83085.0         NaN       0.0  07R2A32768H004
3050    2021-01-07 00:00:00.000  83085.0         NaN       0.0  07R2A32768H004
3141    2021-01-07 00:00:00.000  83085.0         NaN       0.0  07R2A32768H004
3488    2021-01-08 00:00:00.000   7224.0         NaN       0.0  07R2A32768H004
4006    2021-01-28 00:00:00.000  79284.0         NaN       0.0  07R2A32768H004
...                         ...      ...         ...       ...             ...
652874                      NaN      NaN         NaN       NaN  07R2A32768H004
653035                      NaN      NaN         NaN       NaN  07R2A32768H004
654091  2023-03-06 00:00:00.000  80129.0         NaN       0.0  07R2A32768H004
654107                      NaN      NaN         NaN       NaN  07R2A32768H004
654120                      NaN      NaN         NaN       NaN  07R2A32768H004

[1563 rows x 8 columns]

We will drop the instances that have a null value in descripción, as the units are 0 in all of them.

In [22]:
# Drop rows where the 'DESCRIPCION' column has null values
df.dropna(subset=['DESCRIPCION'], inplace=True)

In [23]:
print(df.shape)
df.isnull().sum()

(760076, 8)

EJERCICIO      0
SERIE          0
NUMERO         0
FECHA          0
CLIENTE        0
DESCRIPCION    0
UNIDADES       0
ARTICULO       0
dtype: int64

We will now check the null values in UNIDADES. After that we will check how many items are there with the code 3200220 and 3200221 for they are auxiliary codes, but represent many different type of products that are very uncommon, which as well means it contains information that is not relevant for our model.

In [24]:
df_with_nulls = df[df['UNIDADES'].isnull()]
pd.set_option('display.max_rows', None)
# Display the result
df_with_nulls

Empty DataFrame
Columns: [EJERCICIO, SERIE, NUMERO, FECHA, CLIENTE, DESCRIPCION, UNIDADES, ARTICULO]
Index: []

pd.reset_option('display.max_rows')

We will neutralise the negative (Return) products as long as there is a previous purchase in the same or previous year (max purchase data jan 2021) if there is no purchase value, instead of reducing the purchase count, we will eliminate the -1 value

In [25]:
# Function to extract the information from the returns, by reducing the previous purchases, or eliminating the negative rows if there are no previous purchases made by the customer in the dataset we have

def process_returns(df):
    # Convert UNIDADES to numeric, replacing non-numeric values with NaN
    df['UNIDADES'] = pd.to_numeric(df['UNIDADES'], errors='coerce')
    
    # Remove rows where UNIDADES is NaN
    df = df.dropna(subset=['UNIDADES'])
    
    # Sort the dataframe by CLIENTE, ARTICULO, and FECHA
    df_sorted = df.sort_values(['CLIENTE', 'ARTICULO', 'FECHA'])
    
    # Separate positive (purchases) and negative (returns) transactions
    purchases = df_sorted[df_sorted['UNIDADES'] > 0].copy()
    returns = df_sorted[df_sorted['UNIDADES'] < 0].copy()
    
    # Process returns with progress bar
    total_returns = len(returns)
    for i, (_, return_row) in enumerate(tqdm(returns.iterrows(), total=total_returns, desc="Processing returns")):
        mask = (
            (purchases['CLIENTE'] == return_row['CLIENTE']) &
            (purchases['ARTICULO'] == return_row['ARTICULO']) &
            (purchases['FECHA'] <= return_row['FECHA']) &
            (purchases['UNIDADES'] > 0)
        )
        affected_purchases = purchases.loc[mask].sort_values('FECHA', ascending=False)
        
        units_to_return = abs(return_row['UNIDADES'])
        for idx, purchase in affected_purchases.iterrows():
            if units_to_return <= 0:
                break
            if purchase['UNIDADES'] >= units_to_return:
                purchases.loc[idx, 'UNIDADES'] -= units_to_return
                units_to_return = 0
            else:
                units_to_return -= purchase['UNIDADES']
                purchases.loc[idx, 'UNIDADES'] = 0
        
        # Print progress every 1000 iterations
        if (i + 1) % 1000 == 0:
            print(f"Processed {i + 1} / {total_returns} returns")
    
    # Remove rows where UNIDADES is 0 or less
    result = purchases[purchases['UNIDADES'] > 0].sort_values(['CLIENTE', 'ARTICULO', 'FECHA'])
    
    return result.reset_index(drop=True)

In [26]:
clean_df = process_returns(df)

Processing returns:   4%|▍         | 1002/24281 [01:16<28:46, 13.49it/s]

Processed 1000 / 24281 returns

Processing returns:   8%|▊         | 2002/24281 [02:30<27:17, 13.60it/s]

Processed 2000 / 24281 returns

Processing returns:  12%|█▏        | 3002/24281 [03:44<25:56, 13.67it/s]

Processed 3000 / 24281 returns

Processing returns:  16%|█▋        | 4002/24281 [04:57<25:15, 13.38it/s]

Processed 4000 / 24281 returns

Processing returns:  21%|██        | 5002/24281 [06:10<24:49, 12.94it/s]

Processed 5000 / 24281 returns

Processing returns:  25%|██▍       | 6002/24281 [07:23<22:46, 13.38it/s]

Processed 6000 / 24281 returns

Processing returns:  29%|██▉       | 7002/24281 [08:36<21:12, 13.57it/s]

Processed 7000 / 24281 returns

Processing returns:  33%|███▎      | 8002/24281 [09:49<19:39, 13.80it/s]

Processed 8000 / 24281 returns

Processing returns:  37%|███▋      | 9002/24281 [11:03<19:36, 12.99it/s]

Processed 9000 / 24281 returns

Processing returns:  41%|████      | 10002/24281 [12:16<18:00, 13.22it/s]

Processed 10000 / 24281 returns

Processing returns:  45%|████▌     | 11002/24281 [13:29<15:56, 13.88it/s]

Processed 11000 / 24281 returns

Processing returns:  49%|████▉     | 12002/24281 [14:42<14:45, 13.87it/s]

Processed 12000 / 24281 returns

Processing returns:  54%|█████▎    | 13002/24281 [15:55<13:31, 13.91it/s]

Processed 13000 / 24281 returns

Processing returns:  58%|█████▊    | 14002/24281 [17:09<12:30, 13.69it/s]

Processed 14000 / 24281 returns

Processing returns:  62%|██████▏   | 15002/24281 [18:22<11:44, 13.18it/s]

Processed 15000 / 24281 returns

Processing returns:  66%|██████▌   | 16002/24281 [19:36<09:55, 13.90it/s]

Processed 16000 / 24281 returns

Processing returns:  70%|███████   | 17002/24281 [20:49<08:51, 13.70it/s]

Processed 17000 / 24281 returns

Processing returns:  74%|███████▍  | 18002/24281 [22:03<07:38, 13.70it/s]

Processed 18000 / 24281 returns

Processing returns:  78%|███████▊  | 19002/24281 [23:16<06:29, 13.56it/s]

Processed 19000 / 24281 returns

Processing returns:  82%|████████▏ | 20002/24281 [24:29<05:10, 13.78it/s]

Processed 20000 / 24281 returns

Processing returns:  86%|████████▋ | 21002/24281 [25:42<03:59, 13.69it/s]

Processed 21000 / 24281 returns

Processing returns:  91%|█████████ | 22002/24281 [26:55<02:44, 13.88it/s]

Processed 22000 / 24281 returns

Processing returns:  95%|█████████▍| 23002/24281 [28:06<01:31, 13.94it/s]

Processed 23000 / 24281 returns

Processing returns:  99%|█████████▉| 24002/24281 [29:18<00:20, 13.71it/s]

Processed 24000 / 24281 returns

Processing returns: 100%|██████████| 24281/24281 [29:38<00:00, 13.65it/s]

In [27]:
clean_df.shape

(716950, 8)

In [28]:
df.shape

(760076, 8)

In [63]:
random_samples = clean_df.sample(n=10)
random_samples

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO
429005,2024,BT7,2729.0,2024-02-28 00:00:00.000,80393.0,Resistencia termo eléctrico de 800w 220v monob...,2.0,05CG19357345018
60853,2023,BT7,12063.0,2023-10-26 00:00:00.000,6503.0,"ABRAZADERA TAPAPOROS ESTANCA DE 2"" LARGA TIPO ...",1.0,0668AE2
356384,2021,2,1480.0,2021-03-04 00:00:00.000,79653.0,MANGUITO UNION ELECTROSOLDABLE DE 63,6.0,02362701663
161461,2021,BT7,16904.0,2021-12-17 00:00:00.000,78673.0,"TAPON REDUCCION PARA RADIADOR DE 1"" x 1/2"" IZQ...",2.0,04052A41112I
712796,2022,8,4034.0,2022-04-27 00:00:00.000,98317.0,MANGUITO REDUCIDO MULTICAPA DE 25x20 18201025...,1.0,0240MA1820102520
183122,2021,2,2555.0,2021-04-22 00:00:00.000,78832.0,TIRAFONDO M-6x30 mm DE LARGO ( PARA ABRAZADERA...,14.0,1702M61
383096,2023,2,4844.0,2023-07-10 00:00:00.000,79909.0,GRIFO DE MANGUERA DE ESFERA MANETA INOX DE 1/2...,2.0,1609101301
375806,2023,SM1,10265.0,2023-07-12 00:00:00.000,79789.0,Asiento para inodoro modelo MARINA (GALA) de P...,1.0,2001WPMAHBL
245663,2021,SM1,18775.0,2021-10-21 00:00:00.000,79177.0,A 49 40 RACORD DE TOMA PARA ELECTRODOMESTICOS ...,2.0,0644A4940
42383,2024,SM1,12373.0,2024-08-28 00:00:00.000,2279.0,DESATASCADOR PROFESIONAL 1 Kg,15.0,0681DT

In [36]:
# We remove the .0 from the last word in case it is contained in the last two letters of the word.
# clean_df['EJERCICIO'] = clean_df['EJERCICIO'].apply(lambda x: x[:-2] if x.endswith('.0') else x)
clean_df['EJERCICIO'] = clean_df['EJERCICIO'].round().astype('int64')

In [64]:
# We will save the csv for it takes a long time to generate.
clean_df.to_csv(r'D:\01A-TRABAJO\PYTHON\DATASCIENCE\EJERCICIOS\FINAL_PROJECT\Final_project\raw_data\clean_data.csv', index=False)

PENDIENTE DE SACAR: VENTA ANUAL POR CLIENTE Y POR AÑO
    
    FRECUENCIA DE VENTA ANUAL DEL CLIENTE X
    GRUPOS DE ARTÍCULOS
    GRUPOS DE CLIENTES

In [1]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
file_path_clean = 'raw_data/clean_data.csv'

# Import the CSV file as a DataFrame
clean_df = pd.read_csv(file_path_clean)

C:\Users\Prueba1\AppData\Local\Temp\ipykernel_29844\1058877409.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  clean_df = pd.read_csv(file_path_clean)

In [3]:
clean_df.head()

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO
0,2024,SM1,3128.0,2024-02-29 00:00:00.000,1019.0,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071
1,2024,SM1,11147.0,2024-07-31 00:00:00.000,1019.0,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461
2,2021,SM1,1785.0,2021-01-29 00:00:00.000,1019.0,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001
3,2024,SM1,6071.0,2024-04-30 00:00:00.000,1019.0,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL
4,2023,SM1,8041.0,2023-05-31 00:00:00.000,1019.0,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601

In [7]:
resultado = clean_df[clean_df['EJERCICIO'] == 2023]['ARTICULO'].nunique()
print(f'El número de valores únicos en la columna ARTICULO para el año 2023 es: {resultado}')

El número de valores únicos en la columna ARTICULO para el año 2023 es: 10702

Unimos la serie y número de las instancias para sacar un codigo de venta único por compra.

In [4]:
# Creamos una columna nueva con el codigo único de compra, y quitamos el espacio que aparecía después de la serie.
clean_df['CODIGO_COMPRA'] = clean_df['SERIE'].str.strip()+'-'+clean_df['NUMERO'].astype(str)

clean_df.head()

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA
0,2024,SM1,3128.0,2024-02-29 00:00:00.000,1019.0,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128.0
1,2024,SM1,11147.0,2024-07-31 00:00:00.000,1019.0,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147.0
2,2021,SM1,1785.0,2021-01-29 00:00:00.000,1019.0,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785.0
3,2024,SM1,6071.0,2024-04-30 00:00:00.000,1019.0,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071.0
4,2023,SM1,8041.0,2023-05-31 00:00:00.000,1019.0,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041.0

In [5]:
clean_df['CODIGO_COMPRA'].value_counts()

CODIGO_COMPRA
SM1-7791.0     163
SM1-12463.0    154
SM1-12471.0    147
SM1-8315.0     141
SM1-6071.0     136
              ...
BT7-16399.0      1
SM1-20355.0      1
8-12818.0        1
8-12610.0        1
8-12914.0        1
Name: count, Length: 61842, dtype: int64

We want to remove the ending ".0" from the CODIGO-COMPRA values if they contain it

In [6]:
# We remove the .0 from the last word in case it is contained in the last two letters of the word.
clean_df['CODIGO_COMPRA'] = clean_df['CODIGO_COMPRA'].apply(lambda x: x[:-2] if x.endswith('.0') else x)

In [7]:
clean_df.head()

,EJERCICIO,SERIE,NUMERO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA
0,2024,SM1,3128.0,2024-02-29 00:00:00.000,1019.0,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128
1,2024,SM1,11147.0,2024-07-31 00:00:00.000,1019.0,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147
2,2021,SM1,1785.0,2021-01-29 00:00:00.000,1019.0,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785
3,2024,SM1,6071.0,2024-04-30 00:00:00.000,1019.0,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071
4,2023,SM1,8041.0,2023-05-31 00:00:00.000,1019.0,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041

In [8]:
clean_df.drop(columns=["SERIE","NUMERO"], inplace = True)

In [9]:
clean_df.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA
0,2024,2024-02-29 00:00:00.000,1019.0,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128
1,2024,2024-07-31 00:00:00.000,1019.0,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147
2,2021,2021-01-29 00:00:00.000,1019.0,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785
3,2024,2024-04-30 00:00:00.000,1019.0,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071
4,2023,2023-05-31 00:00:00.000,1019.0,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041

We will now proceed to add the annual frecuency of purchases from a customer.

Quiero calcular el número de veces que un cliente realiza una compra por año.

In [10]:
compras_cliente_anual = clean_df.groupby(['EJERCICIO', 'CLIENTE'])['CODIGO_COMPRA'].nunique().reset_index()
#Cambiamos el nombre de CODIGO_COMPRA por FRECUENCIA_ANUAL
compras_cliente_anual.rename(columns={'CODIGO_COMPRA': 'FRECUENCIA_ANUAL'}, inplace=True)

In [11]:
compras_cliente_anual.head()

   EJERCICIO  CLIENTE  FRECUENCIA_ANUAL
0       2021   1019.0                21
1       2021   1025.0                 4
2       2021   1032.0                 1
3       2021   1043.0                 7
4       2021   1053.0                 1

Como los datos que tenemos de FRECUENCIA_ANUAL de 2024 son hasta septiembre, dividiremos el valor entre 9 y lo multiplicaremos por 12.

In [12]:
compras_cliente_anual.loc[compras_cliente_anual['EJERCICIO'] == 2024, 'FRECUENCIA_ANUAL'] = (np.floor((compras_cliente_anual.loc[compras_cliente_anual['EJERCICIO'] == 2024, 'FRECUENCIA_ANUAL'] / 9 * 12)).astype(int))

In [13]:
# Comprobamos que el cliente 1019 en 2021 efectivamente tiene 21 compras.
cliente_1019_2021 = clean_df.loc[(clean_df['CLIENTE'] == 1019) & (clean_df['EJERCICIO'] == 2021)]
# Ordenamos por columna CODIGO_COMPRA
cliente_1019_2021_sorted = cliente_1019_2021.sort_values(by='CODIGO_COMPRA')

pd.set_option('display.max_rows', None)

# Mostrar el resultado
print(cliente_1019_2021_sorted)

      EJERCICIO                    FECHA  CLIENTE  \
803        2021  2021-01-18 00:00:00.000   1019.0
937        2021  2021-06-30 00:00:00.000   1019.0
850        2021  2021-06-30 00:00:00.000   1019.0
819        2021  2021-06-30 00:00:00.000   1019.0
165        2021  2021-07-09 00:00:00.000   1019.0
1272       2021  2021-08-06 00:00:00.000   1019.0
153        2021  2021-08-06 00:00:00.000   1019.0
238        2021  2021-08-06 00:00:00.000   1019.0
2289       2021  2021-08-06 00:00:00.000   1019.0
674        2021  2021-08-06 00:00:00.000   1019.0
158        2021  2021-08-23 00:00:00.000   1019.0
826        2021  2021-08-27 00:00:00.000   1019.0
365        2021  2021-01-29 00:00:00.000   1019.0
683        2021  2021-01-29 00:00:00.000   1019.0
2314       2021  2021-01-29 00:00:00.000   1019.0
402        2021  2021-01-29 00:00:00.000   1019.0
729        2021  2021-01-29 00:00:00.000   1019.0
2406       2021  2021-01-29 00:00:00.000   1019.0
862        2021  2021-01-29 00:00:00.000   1019.0
732        2021  2021-01-29 00:00:00.000   1019.0
257        2021  2021-01-29 00:00:00.000   1019.0
389        2021  2021-01-29 00:00:00.000   1019.0
294        2021  2021-01-29 00:00:00.000   1019.0
2300       2021  2021-01-29 00:00:00.000   1019.0
295        2021  2021-01-29 00:00:00.000   1019.0
305        2021  2021-01-29 00:00:00.000   1019.0
311        2021  2021-01-29 00:00:00.000   1019.0
372        2021  2021-01-29 00:00:00.000   1019.0
739        2021  2021-01-29 00:00:00.000   1019.0
2          2021  2021-01-29 00:00:00.000   1019.0
509        2021  2021-01-29 00:00:00.000   1019.0
670        2021  2021-01-29 00:00:00.000   1019.0
1464       2021  2021-01-29 00:00:00.000   1019.0
1462       2021  2021-01-29 00:00:00.000   1019.0
2468       2021  2021-01-29 00:00:00.000   1019.0
28         2021  2021-01-29 00:00:00.000   1019.0
1428       2021  2021-01-29 00:00:00.000   1019.0
1400       2021  2021-01-29 00:00:00.000   1019.0
1392       2021  2021-01-29 00:00:00.000   1019.0
1391       2021  2021-01-29 00:00:00.000   1019.0
1965       2021  2021-01-29 00:00:00.000   1019.0
1356       2021  2021-01-29 00:00:00.000   1019.0
1355       2021  2021-01-29 00:00:00.000   1019.0
1354       2021  2021-01-29 00:00:00.000   1019.0
2413       2021  2021-01-29 00:00:00.000   1019.0
1514       2021  2021-01-29 00:00:00.000   1019.0
53         2021  2021-01-29 00:00:00.000   1019.0
1269       2021  2021-01-29 00:00:00.000   1019.0
74         2021  2021-01-29 00:00:00.000   1019.0
1262       2021  2021-01-29 00:00:00.000   1019.0
2165       2021  2021-01-29 00:00:00.000   1019.0
1185       2021  2021-01-29 00:00:00.000   1019.0
1122       2021  2021-01-29 00:00:00.000   1019.0
1117       2021  2021-01-29 00:00:00.000   1019.0
2208       2021  2021-01-29 00:00:00.000   1019.0
2245       2021  2021-01-29 00:00:00.000   1019.0
52         2021  2021-01-29 00:00:00.000   1019.0
899        2021  2021-10-15 00:00:00.000   1019.0
200        2021  2021-10-15 00:00:00.000   1019.0
882        2021  2021-12-02 00:00:00.000   1019.0
1485       2021  2021-12-02 00:00:00.000   1019.0
2462       2021  2021-12-02 00:00:00.000   1019.0
148        2021  2021-02-19 00:00:00.000   1019.0
510        2021  2021-02-26 00:00:00.000   1019.0
1557       2021  2021-02-26 00:00:00.000   1019.0
496        2021  2021-02-26 00:00:00.000   1019.0
1890       2021  2021-02-26 00:00:00.000   1019.0
2367       2021  2021-02-26 00:00:00.000   1019.0
923        2021  2021-02-26 00:00:00.000   1019.0
921        2021  2021-02-26 00:00:00.000   1019.0
919        2021  2021-02-26 00:00:00.000   1019.0
1880       2021  2021-02-26 00:00:00.000   1019.0
1522       2021  2021-02-26 00:00:00.000   1019.0
891        2021  2021-02-26 00:00:00.000   1019.0
1942       2021  2021-02-26 00:00:00.000   1019.0
228        2021  2021-02-26 00:00:00.000   1019.0
2127       2021  2021-02-26 00:00:00.000   1019.0
2125       2021  2021-02-26 00:00:00.000   1019.0
2407       2021  2021-02-26 00:00:00.000   1019.0
2301       2021  2021-02-26 00:00:00.000   1019.0
1926       2021  2021-02-26 00:00:00.000   1019.0
969        2021  2021-02-26 00:00:00.000   1019.0
1543       2021  2021-02-26 00:00:00.000   1019.0
1537       2021  2021-02-26 00:00:00.000   1019.0
140        2021  2021-02-26 00:00:00.000   1019.0
1896       2021  2021-02-26 00:00:00.000   1019.0
1553       2021  2021-02-26 00:00:00.000   1019.0
1554       2021  2021-02-26 00:00:00.000   1019.0
1051       2021  2021-02-26 00:00:00.000   1019.0
1047       2021  2021-02-26 00:00:00.000   1019.0
1555       2021  2021-02-26 00:00:00.000   1019.0
1556       2021  2021-02-26 00:00:00.000   1019.0
2244       2021  2021-02-26 00:00:00.000   1019.0
2414       2021  2021-02-26 00:00:00.000   1019.0
203        2021  2021-02-26 00:00:00.000   1019.0
1024       2021  2021-02-26 00:00:00.000   1019.0
1009       2021  2021-02-26 00:00:00.000   1019.0
2395       2021  2021-02-26 00:00:00.000   1019.0
1125       2021  2021-02-26 00:00:00.000   1019.0
2442       2021  2021-02-26 00:00:00.000   1019.0
2394       2021  2021-02-26 00:00:00.000   1019.0
1983       2021  2021-02-26 00:00:00.000   1019.0
403        2021  2021-02-26 00:00:00.000   1019.0
2469       2021  2021-02-26 00:00:00.000   1019.0
1989       2021  2021-02-26 00:00:00.000   1019.0
1767       2021  2021-02-26 00:00:00.000   1019.0
671        2021  2021-02-26 00:00:00.000   1019.0
427        2021  2021-02-26 00:00:00.000   1019.0
578        2021  2021-02-26 00:00:00.000   1019.0
1775       2021  2021-02-26 00:00:00.000   1019.0
1776       2021  2021-02-26 00:00:00.000   1019.0
542        2021  2021-02-26 00:00:00.000   1019.0
541        2021  2021-02-26 00:00:00.000   1019.0
1490       2021  2021-02-26 00:00:00.000   1019.0
1486       2021  2021-02-26 00:00:00.000   1019.0
1813       2021  2021-02-26 00:00:00.000   1019.0
1968       2021  2021-02-26 00:00:00.000   1019.0
854        2021  2021-02-26 00:00:00.000   1019.0
390        2021  2021-02-26 00:00:00.000   1019.0
366        2021  2021-02-26 00:00:00.000   1019.0
1698       2021  2021-02-26 00:00:00.000   1019.0
267        2021  2021-02-26 00:00:00.000   1019.0
1699       2021  2021-02-26 00:00:00.000   1019.0
276        2021  2021-02-26 00:00:00.000   1019.0
1700       2021  2021-02-26 00:00:00.000   1019.0
2063       2021  2021-02-26 00:00:00.000   1019.0
2075       2021  2021-02-26 00:00:00.000   1019.0
1701       2021  2021-02-26 00:00:00.000   1019.0
2381       2021  2021-02-26 00:00:00.000   1019.0
320        2021  2021-02-26 00:00:00.000   1019.0
794        2021  2021-02-26 00:00:00.000   1019.0
2135       2021  2021-02-26 00:00:00.000   1019.0
1966       2021  2021-02-26 00:00:00.000   1019.0
1967       2021  2021-02-26 00:00:00.000   1019.0
816        2021  2021-02-26 00:00:00.000   1019.0
35         2021  2021-02-26 00:00:00.000   1019.0
2179       2021  2021-01-12 00:00:00.000   1019.0
2180       2021  2021-01-12 00:00:00.000   1019.0
2366       2021  2021-01-12 00:00:00.000   1019.0
855        2021  2021-01-12 00:00:00.000   1019.0
2393       2021  2021-01-12 00:00:00.000   1019.0
768        2021  2021-01-12 00:00:00.000   1019.0
770        2021  2021-01-12 00:00:00.000   1019.0
775        2021  2021-01-12 00:00:00.000   1019.0
2109       2021  2021-01-12 00:00:00.000   1019.0
771        2021  2021-01-12 00:00:00.000   1019.0
147        2021  2021-03-18 00:00:00.000   1019.0
2229       2021  2021-03-29 00:00:00.000   1019.0
1363       2021  2021-03-29 00:00:00.000   1019.0
1523       2021  2021-03-29 00:00:00.000   1019.0
1126       2021  2021-03-29 00:00:00.000   1019.0
1927       2021  2021-03-29 00:00:00.000   1019.0
1570       2021  2021-03-29 00:00:00.000   1019.0
1937       2021  2021-03-29 00:00:00.000   1019.0
2368       2021  2021-03-29 00:00:00.000   1019.0
1378       2021  2021-03-29 00:00:00.000   1019.0
2026       2021  2021-03-30 00:00:00.000   1019.0
1520       2021  2021-03-30 00:00:00.000   1019.0
1891       2021  2021-03-30 00:00:00.000   1019.0
1545       2021  2021-03-30 00:00:00.000   1019.0
1873       2021  2021-03-30 00:00:00.000   1019.0
1718       2021  2021-03-30 00:00:00.000   1019.0
1819       2021  2021-03-30 00:00:00.000   1019.0
1722       2021  2021-03-30 00:00:00.000   1019.0
1544       2021  2021-03-30 00:00:00.000   1019.0
1808       2021  2021-03-30 00:00:00.000   1019.0
1491       2021  2021-03-30 00:00:00.000   1019.0
2362       2021  2021-03-30 00:00:00.000   1019.0
2382       2021  2021-03-30 00:00:00.000   1019.0
543        2021  2021-03-30 00:00:00.000   1019.0
576        2021  2021-03-30 00:00:00.000   1019.0
2383       2021  2021-03-30 00:00:00.000   1019.0
404        2021  2021-03-30 00:00:00.000   1019.0
820        2021  2021-03-30 00:00:00.000   1019.0
391        2021  2021-03-30 00:00:00.000   1019.0
219        2021  2021-03-30 00:00:00.000   1019.0
2370       2021  2021-03-30 00:00:00.000   1019.0
213        2021  2021-03-30 00:00:00.000   1019.0
867        2021  2021-03-30 00:00:00.000   1019.0
870        2021  2021-03-30 00:00:00.000   1019.0
2369       2021  2021-03-30 00:00:00.000   1019.0
204        2021  2021-03-30 00:00:00.000   1019.0
532        2021  2021-03-30 00:00:00.000   1019.0
76         2021  2021-03-30 00:00:00.000   1019.0
1990       2021  2021-03-30 00:00:00.000   1019.0
1081       2021  2021-03-30 00:00:00.000   1019.0
1465       2021  2021-03-30 00:00:00.000   1019.0
2470       2021  2021-03-30 00:00:00.000   1019.0
29         2021  2021-03-30 00:00:00.000   1019.0
75         2021  2021-03-30 00:00:00.000   1019.0
31         2021  2021-03-30 00:00:00.000   1019.0
32         2021  2021-03-30 00:00:00.000   1019.0
30         2021  2021-03-30 00:00:00.000   1019.0
1168       2021  2021-03-30 00:00:00.000   1019.0
1163       2021  2021-03-30 00:00:00.000   1019.0
54         2021  2021-03-30 00:00:00.000   1019.0
1220       2021  2021-03-30 00:00:00.000   1019.0
531        2021  2021-03-30 00:00:00.000   1019.0
2048       2021  2021-03-31 00:00:00.000   1019.0
1820       2021  2021-03-31 00:00:00.000   1019.0
2384       2021  2021-03-31 00:00:00.000   1019.0
1546       2021  2021-03-31 00:00:00.000   1019.0
33         2021  2021-03-31 00:00:00.000   1019.0
50         2021  2021-03-31 00:00:00.000   1019.0
1509       2021  2021-03-31 00:00:00.000   1019.0
1814       2021  2021-04-07 00:00:00.000   1019.0
1991       2021  2021-04-07 00:00:00.000   1019.0
2134       2021  2021-04-29 00:00:00.000   1019.0
2138       2021  2021-04-29 00:00:00.000   1019.0
1997       2021  2021-04-29 00:00:00.000   1019.0
2151       2021  2021-04-29 00:00:00.000   1019.0
2133       2021  2021-04-29 00:00:00.000   1019.0
2159       2021  2021-04-29 00:00:00.000   1019.0
2160       2021  2021-04-29 00:00:00.000   1019.0
2185       2021  2021-04-29 00:00:00.000   1019.0
2430       2021  2021-04-29 00:00:00.000   1019.0
2206       2021  2021-04-29 00:00:00.000   1019.0
2392       2021  2021-04-29 00:00:00.000   1019.0
2212       2021  2021-04-29 00:00:00.000   1019.0
2236       2021  2021-04-29 00:00:00.000   1019.0
2420       2021  2021-04-29 00:00:00.000   1019.0
2041       2021  2021-04-29 00:00:00.000   1019.0
2128       2021  2021-04-29 00:00:00.000   1019.0
2120       2021  2021-04-29 00:00:00.000   1019.0
2371       2021  2021-04-29 00:00:00.000   1019.0
2372       2021  2021-04-29 00:00:00.000   1019.0
2373       2021  2021-04-29 00:00:00.000   1019.0
2378       2021  2021-04-29 00:00:00.000   1019.0
2230       2021  2021-04-29 00:00:00.000   1019.0
2136       2021  2021-04-29 00:00:00.000   1019.0
1270       2021  2021-04-29 00:00:00.000   1019.0
1897       2021  2021-04-29 00:00:00.000   1019.0
1033       2021  2021-04-29 00:00:00.000   1019.0
961        2021  2021-04-29 00:00:00.000   1019.0
1984       2021  2021-04-29 00:00:00.000   1019.0
949        2021  2021-04-29 00:00:00.000   1019.0
924        2021  2021-04-29 00:00:00.000   1019.0
896        2021  2021-04-29 00:00:00.000   1019.0
884        2021  2021-04-29 00:00:00.000   1019.0
835        2021  2021-04-29 00:00:00.000   1019.0
833        2021  2021-04-29 00:00:00.000   1019.0
818        2021  2021-04-29 00:00:00.000   1019.0
733        2021  2021-04-29 00:00:00.000   1019.0
1035       2021  2021-04-29 00:00:00.000   1019.0
711        2021  2021-04-29 00:00:00.000   1019.0
672        2021  2021-04-29 00:00:00.000   1019.0
533        2021  2021-04-29 00:00:00.000   1019.0
256        2021  2021-04-29 00:00:00.000   1019.0
254        2021  2021-04-29 00:00:00.000   1019.0
205        2021  2021-04-29 00:00:00.000   1019.0
202        2021  2021-04-29 00:00:00.000   1019.0
189        2021  2021-04-29 00:00:00.000   1019.0
37         2021  2021-04-29 00:00:00.000   1019.0
36         2021  2021-04-29 00:00:00.000   1019.0
34         2021  2021-04-29 00:00:00.000   1019.0
7          2021  2021-04-29 00:00:00.000   1019.0
673        2021  2021-04-29 00:00:00.000   1019.0
1037       2021  2021-04-29 00:00:00.000   1019.0
960        2021  2021-04-29 00:00:00.000   1019.0
1060       2021  2021-04-29 00:00:00.000   1019.0
1892       2021  2021-04-29 00:00:00.000   1019.0
1856       2021  2021-04-29 00:00:00.000   1019.0
1702       2021  2021-04-29 00:00:00.000   1019.0
1690       2021  2021-04-29 00:00:00.000   1019.0
1630       2021  2021-04-29 00:00:00.000   1019.0
1629       2021  2021-04-29 00:00:00.000   1019.0
1620       2021  2021-04-29 00:00:00.000   1019.0
1608       2021  2021-04-29 00:00:00.000   1019.0
1558       2021  2021-04-29 00:00:00.000   1019.0
1517       2021  2021-04-29 00:00:00.000   1019.0
1468       2021  2021-04-29 00:00:00.000   1019.0
1467       2021  2021-04-29 00:00:00.000   1019.0
1040       2021  2021-04-29 00:00:00.000   1019.0
1347       2021  2021-04-29 00:00:00.000   1019.0
1466       2021  2021-04-29 00:00:00.000   1019.0
1107       2021  2021-04-29 00:00:00.000   1019.0
1082       2021  2021-04-29 00:00:00.000   1019.0
1105       2021  2021-04-29 00:00:00.000   1019.0
1106       2021  2021-04-29 00:00:00.000   1019.0
1186       2021  2021-04-29 00:00:00.000   1019.0
2472       2021  2021-04-29 00:00:00.000   1019.0
2471       2021  2021-04-29 00:00:00.000   1019.0
1271       2021  2021-04-29 00:00:00.000   1019.0
1346       2021  2021-04-29 00:00:00.000   1019.0
1192       2021  2021-04-29 00:00:00.000   1019.0
152        2021  2021-05-24 00:00:00.000   1019.0
1029       2021  2021-05-24 00:00:00.000   1019.0
11         2021  2021-05-24 00:00:00.000   1019.0
5          2021  2021-05-24 00:00:00.000   1019.0
1127       2021  2021-05-31 00:00:00.000   1019.0
252        2021  2021-05-31 00:00:00.000   1019.0
942        2021  2021-05-31 00:00:00.000   1019.0
817        2021  2021-05-31 00:00:00.000   1019.0
959        2021  2021-05-31 00:00:00.000   1019.0
834        2021  2021-05-31 00:00:00.000   1019.0
812        2021  2021-05-31 00:00:00.000   1019.0

                                            DESCRIPCION  UNIDADES  \
803   ELECTROBOMBA SUMERGIBLE DE ACHIQUE NAS 900K BL...       1.0
937    UNIFLEX SUPER HEMBRA HEMBRA DE 1/2 DE 35cm TUCAI       2.0
850   LLAVE DE REGULACION MODELO A-80 NOVA DE 1/2x1/...       2.0
819   TERMO ELECTRICO DE 50Litros VERTICAL CON REGUL...       1.0
165   CABEZAL TEMPORIZADO PRESTO PARA MODELOS 404- 5...       3.0
1272                MACHON DE METAL Fg 280 DE 1/2 SUPER       1.0
153   GRIFO DE LAVABO TEMPORIZADO PRESTO 605 CROMADO...      12.0
238   GRIFO TEMPORIZADO DE REPISA PARA LAVABO INSTAN...       2.0
2289                          GRIFO MANGUERA ESFERA 1/2       1.0
674            TE DE METAL ( LATON ) FIGURA 130 DE 1/2"       1.0
158   FLUXOMETRO INODORO TEMPORIZADO PRESTO 1000 M C...       2.0
826         LLAVE DE REGULACION DE 1/2 - 3/8 SIN TUERCA      10.0
365   K 471 CODO PLACA MIXTO DE METAL DE 20 1/2 PARA...       1.0
683   TE DE METAL ( LATON ) CROMADA FIGURA 130 DE 1/...       1.0
2314  VALVULA DE ESFERA CUERPO DE LATON REF C-501 DE...       2.0
402   K 61 RACOR ENLACE MIXTO MACHO DE METAL DE 20 1...       1.0
729   CODO DE METAL ( LATON ) FIGURA 92 MACHO HEMBRA...       1.0
2406  ABRAZADERA M6 DE 20mm ( PARA TIRAFONDO METRICA...       2.0
862     MANGUITO EXTENSIBLE PARA WC WATERFLESS IDRONORD       2.0
732   CODO DE METAL ( LATON ) FIGURA 92 MACHO HEMBRA...       2.0
257   METROS DE TUBO DE COBRE RECOCIDO CROMADO EN RO...       5.0
389   K 61 RACOR ENLACE MIXTO MACHO DE METAL 50 11/2...       1.0
294   F 62 TERMINAL MIXTO ROSCA HEMBRA PARA COBRE CO...       3.0
2300  GRIFO DE MANGUERA DE ESFERA MANETA INOX DE 1/2...       2.0
295   F 62 TERMINAL MIXTO ROSCA HEMBRA PARA COBRE CO...       1.0
305   F 63 MANGUITO ( ENLACE ) PARA COBRE COMPRESIÓN...       1.0
311   F 64 CODO PARA COBRE COMPRESIÓN REF 203  DE 12...       1.0
372   K 61 RACOR ENLACE MIXTO MACHO DE METAL DE 32 1...       4.0
739   CODO DE METAL ( LATON ) FIGURA 92 MACHO HEMBRA...       1.0
2     FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...       1.0
509   K 63 MANGUITO ENLACE DE METAL 3/4 ( 25 mm ) PA...       3.0
670            TE DE METAL ( LATON ) FIGURA 130 DE 1/2"       1.0
1464         ABRAZADERA ARCO DE 10 x 12 REF. 04803 ARCO       5.0
1462  REDUCCION HERMETO DE 1/2 HEMBRA A 10x12 REF. 0...       2.0
2468  Asiento de SUPRALIT para inodoro con bisagras ...       1.0
28    MECANISMO UNIVERSAL DE DOBLE DESCARGA PARA CIS...       1.0
1428                ALARGADERA CROMADA DE 1/2x2cm SUPER       1.0
1400                        ALARGADERA DE METAL DE 11/4       1.0
1392                 TAPA HEMBRA DE METAL Fg 300 DE 1/2       1.0
1391                TAPA HEMBRA DE METAL Fg 300 DE 11/4       1.0
1965                 MANGUITO PARA ENCOLAR DE 40 DE PVC       2.0
1356  MACHON DE METAL Fg 280 CROMADO LARGO DE 1/2 DE...       1.0
1355  MACHON DE METAL Fg 280 CROMADO LARGO DE 1/2 DE...       1.0
1354        MACHON DE METAL Fg 280 CROMADO DE 1/2 SUPER       4.0
2413  ABRAZADERA M6 DE 40mm ( PARA TIRAFONDO METRICA...       1.0
1514  grifo alimentacion lateral lina con boya espun...       1.0
53    MECANISMO UNIVERSAL AL. LATERAL (COMPAC) ROSCA...       2.0
1269                MACHON DE METAL Fg 280 DE 1/2 SUPER       4.0
74    MECANISMO UNIVERSAL AL. INFERIOR (COMPAC) ROSC...       1.0
1262                     MACHON DE METAL Fg 280 DE 11/4       1.0
2165               TAPA DE PRESION ( PVC ) HEMBRA DE 32       2.0
1185  REDUCCION DE METAL Fg 241 DE 11/2 MACHO x 11/4...       1.0
1122           FLOTADOR OLLETA SIN BOLA DE 11/4" PARETA       1.0
1117                BOLA FLOTADOR METAL DE 11/4" PARETA       1.0
2208  METROS DE HIDROTUBO ( EN ROLLOS DE 25 METROS )...      25.0
2245  LLAVE DE PASO ESFERA MODELO TAJO 2000 DE 1/2 ARCO       2.0
52    MECANISMO UNIVERSAL AL. LATERAL (COMPAC) ROSCA...       1.0
899    UNIFLEX MALLA HEMBRA HEMBRA DE 3/8 DE 30cm TUCAI      10.0
200   ROCIADOR DE DUCHA EN ABS CON ROTULA Y MEMBRANA...      10.0
882                            JUNTA EPDM DE 3/4" ANCHA      20.0
1485  Junta ancha KLINGERIT DE 1/2 18.5x11x2mm (skin...       2.0
2462  ASIENTO WC ALEXIA BLANCO BISAGRAS BR ESTOLI ( ...       4.0
148   TEMPOSTOP GRIFO TEMPORIZADO DE DUCHA REF 749 D...       1.0
510   K 63 MANGUITO ENLACE DE METAL 3/4 ( 25 mm ) PA...       2.0
1557  TUBO DE PVC PARA ENCOLAR DE 110x3000 SERIE B GRIS       2.0
496   K 63 MANGUITO ENLACE DE METAL 1/2 ( 20 mm ) PA...       5.0
1890  TUBO DE COLA TANGIT DE 125 GRAMOS PARA PVC HENKEL       1.0
2367  TIRAFONDO M-8 x 40 mm DE LARGO ( PARA ABRAZADE...       2.0
923     UNIFLEX MALLA MACHO HEMBRA DE 1/2 DE 50cm TUCAI       1.0
921     UNIFLEX MALLA MACHO HEMBRA DE 1/2 DE 40cm TUCAI       1.0
919     UNIFLEX MALLA MACHO HEMBRA DE 1/2 DE 30cm TUCAI       1.0
1880                   REDUCCION DE CANAL PVC DE 110-90       1.0
1522   TUBO DE PVC PARA ENCOLAR DE 40x5000 SERIE B GRIS       1.0
891   UNIFLEX MALLA HEMBRA HEMBRA DE 1/2 A 3/8 DE 50...       1.0
1942                MANGUITO PARA ENCOLAR DE 110 DE PVC       1.0
228   MONOMANDO DE FREGADERO VERTICAL CON CAÑO GIRAT...       1.0

In [14]:
# Hacemos un merge con el clean_df para añadir la columna
clean_df = clean_df.merge(compras_cliente_anual, on=['EJERCICIO','CLIENTE'], how='left')

In [15]:
clean_df.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL
0,2024,2024-02-29 00:00:00.000,1019.0,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29
1,2024,2024-07-31 00:00:00.000,1019.0,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29
2,2021,2021-01-29 00:00:00.000,1019.0,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21
3,2024,2024-04-30 00:00:00.000,1019.0,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29
4,2023,2023-05-31 00:00:00.000,1019.0,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51

In [16]:
venta_total_2021 = 'raw_data/VENTATOTAL2021.csv'
venta_total_2022 = 'raw_data/VENTATOTAL2022.csv'
venta_total_2023 = 'raw_data/VENTATOTAL2023.csv'
venta_total_2024 = 'raw_data/VENTATOTAL2024.csv'

In [17]:
vt_2021 = pd.read_csv(venta_total_2021, sep=';')
vt_2022 = pd.read_csv(venta_total_2022, sep=';')
vt_2023 = pd.read_csv(venta_total_2023, sep=';')
vt_2024 = pd.read_csv(venta_total_2024, sep=';')

Los valores de venta_total_2024 son hasta el final de septiembre (9 meses), para mantener un estándar en los valores, vamos a dividir el valor mensualmente y lo multiplicaremos por 12 para obtener el valor anual.

In [18]:
vt_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250 entries, 0 to 2249
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codigo_cliente  2250 non-null   int64
 1   base_imponible  2250 non-null   object
dtypes: int64(1), object(1)
memory usage: 35.3+ KB

In [19]:
ventas_dfs = [vt_2021, vt_2022, vt_2023, vt_2024]

for dfs in ventas_dfs:
    dfs['base_imponible'] = dfs['base_imponible'].str.replace(',', '.', regex=False)
    dfs['base_imponible'] = dfs['base_imponible'].astype(float)

In [20]:
vt_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250 entries, 0 to 2249
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codigo_cliente  2250 non-null   int64
 1   base_imponible  2250 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 35.3 KB

In [21]:
vt_2024['base_imponible'] = ((vt_2024['base_imponible'] / 9) * 12).round(2)

In [22]:
vt_2024.head()

   codigo_cliente  base_imponible
0           79576       404138.33
1           79117       207019.97
2           80471       127598.01
3           78991        93522.83
4           79081        83157.43

In [23]:
vt_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2565 entries, 0 to 2564
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codigo_cliente  2565 non-null   int64
 1   base_imponible  2565 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 40.2 KB

In [24]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716950 entries, 0 to 716949
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EJERCICIO         716950 non-null  int64
 1   FECHA             716950 non-null  object
 2   CLIENTE           716950 non-null  float64
 3   DESCRIPCION       716950 non-null  object
 4   UNIDADES          716950 non-null  float64
 5   ARTICULO          716950 non-null  object
 6   CODIGO_COMPRA     716950 non-null  object
 7   FRECUENCIA_ANUAL  716950 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 43.8+ MB

Para asegurarnos de que no haya problemas para identificar el número de cliente, vamos a transformar el float64 en int64 al igual que en los vt_202x para además deshacernos del ".0" al final del código de cliente.

In [25]:
clean_df['CLIENTE'] = clean_df['CLIENTE'].round().astype('int64')

In [26]:
clean_df.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51

In [27]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716950 entries, 0 to 716949
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EJERCICIO         716950 non-null  int64
 1   FECHA             716950 non-null  object
 2   CLIENTE           716950 non-null  int64
 3   DESCRIPCION       716950 non-null  object
 4   UNIDADES          716950 non-null  float64
 5   ARTICULO          716950 non-null  object
 6   CODIGO_COMPRA     716950 non-null  object
 7   FRECUENCIA_ANUAL  716950 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 43.8+ MB

In [28]:
# We merge the dataframes from annual sales into one.
vt_2021['EJERCICIO'] = 2021
vt_2022['EJERCICIO'] = 2022
vt_2023['EJERCICIO'] = 2023
vt_2024['EJERCICIO'] = 2024


ventas_anuales = pd.concat([vt_2021,vt_2022,vt_2023,vt_2024],ignore_index=True)

In [29]:
#We will rename the columns.
ventas_anuales.rename(columns={'codigo_cliente': 'CLIENTE','base_imponible':'VENTA_ANUAL'},inplace=True)
ventas_anuales.head()

   CLIENTE  VENTA_ANUAL  EJERCICIO
0    79576    247730.40       2021
1    79117    213786.89       2021
2    79081    126109.61       2021
3    79001     92715.27       2021
4    80471     91931.19       2021

In [30]:
# Comprobamos que el cliente 1019 en 2021 efectivamente tiene puesta su venta anual correctamente.
cliente_1019_2021_vt = vt_2024.loc[(vt_2024['codigo_cliente'] == 1019) & (vt_2024['EJERCICIO'] == 2024)]

pd.set_option('display.max_rows', None)

# Mostrar el resultado
cliente_1019_2021_vt.head()

    codigo_cliente  base_imponible  EJERCICIO
40            1019        28077.52       2024

Detectamos que las de 2024 no se estaban pasando correctamente a ventas_anuales junto a las ventas de los otros años, comprobamos que efectivamente se ha pasado.

In [31]:
# Comprobamos que el cliente 1019 en 2021 efectivamente tiene 21 compras.
cliente_1019_2021 = ventas_anuales.loc[(ventas_anuales['CLIENTE'] == 1019) & (ventas_anuales['EJERCICIO'] == 2024)]

pd.set_option('display.max_rows', None)

# Mostrar el resultado
cliente_1019_2021.head()

      CLIENTE  VENTA_ANUAL  EJERCICIO
7408     1019     28077.52       2024

In [32]:
# We will now add the Annual sales to the clean_df
clean_df=clean_df.merge(ventas_anuales, on=['EJERCICIO','CLIENTE'], how='left')

clean_df.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29,28077.52
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29,28077.52
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21,6723.96
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29,28077.52
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51,24813.50

In [94]:
grupo_clientes = 'raw_data/gruposclientes.csv'
info_clientes = 'raw_data/INFOCOMPLETACLIENTES.csv'
grupo_articulos = 'raw_data/GRUPOSARTICULOS.csv'


# Import the CSV file as a DataFrame
grupo_clientes = pd.read_csv(grupo_clientes, sep=';')
grupo_articulos = pd.read_csv(grupo_articulos, sep=';')
info_clientes = pd.read_csv(info_clientes, sep=';')

We specify the product groups.

In [34]:
grupo_articulos.head()

            codigo codigo_familia  codigo_fabricante
0     000799VA60EX           0007         40001081.0
1  0007AN1001009BL           0007         40001081.0
2    0007AN75759BL           0007         40001081.0
3    0007AN80809BL           0007         40001081.0
4     0007AN9090BL           0007         40001081.0

In [35]:
grupo_articulos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35400 entries, 0 to 35399
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   codigo             35400 non-null  object
 1   codigo_familia     35400 non-null  object
 2   codigo_fabricante  35388 non-null  float64
dtypes: float64(1), object(2)
memory usage: 829.8+ KB

In [36]:
grupo_articulos.shape

(35400, 3)

In [37]:
grupo_articulos.isnull().sum()

codigo                0
codigo_familia        0
codigo_fabricante    12
dtype: int64

In [38]:
null_rows = grupo_articulos[grupo_articulos.isnull().any(axis=1)]
print(null_rows)

                   codigo codigo_familia  codigo_fabricante
3349            010820AQL           3200                NaN
10984                0226           3200                NaN
18760              05CG07           3200                NaN
28165                0821           3200                NaN
35384           COMPAYPAL           PROV                NaN
35387           GTO. AGUA           0000                NaN
35388            MAT. OFI           0000                NaN
35389        REP. Y MANT.           0000                NaN
35390  REP. Y MANT. VEHIC           0000                NaN
35391            SERV1000           0000                NaN
35392            SERV1001           0000                NaN
35393            SERV1002           0000                NaN

After checking that the codes are not relevant we will drop them.

In [39]:
grupo_articulos = grupo_articulos.dropna()

In [40]:
grupo_articulos.isnull().sum()

codigo               0
codigo_familia       0
codigo_fabricante    0
dtype: int64

In [41]:
grupo_articulos.shape

(35388, 3)

In [42]:
grupo_articulos['codigo_fabricante'] = grupo_articulos['codigo_fabricante'].round().astype('int64')

In [43]:
grupo_articulos.head()

            codigo codigo_familia  codigo_fabricante
0     000799VA60EX           0007           40001081
1  0007AN1001009BL           0007           40001081
2    0007AN75759BL           0007           40001081
3    0007AN80809BL           0007           40001081
4     0007AN9090BL           0007           40001081

In [44]:
grupo_articulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35388 entries, 0 to 35399
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   codigo             35388 non-null  object
 1   codigo_familia     35388 non-null  object
 2   codigo_fabricante  35388 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [45]:
def count_unique_articulos(clean_df):
    # Count the number of unique values in the ARTICULO column
    unique_count = clean_df['ARTICULO'].nunique()
    return unique_count

count_unique_articulos(clean_df)

20131

In [46]:
clean_df.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29,28077.52
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29,28077.52
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21,6723.96
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29,28077.52
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51,24813.50

In [47]:
grupo_articulos.head()

            codigo codigo_familia  codigo_fabricante
0     000799VA60EX           0007           40001081
1  0007AN1001009BL           0007           40001081
2    0007AN75759BL           0007           40001081
3    0007AN80809BL           0007           40001081
4     0007AN9090BL           0007           40001081

In [48]:
def count_and_show_matches(clean_df, grupo_articulos):
    # Perform a merge to get the matching rows
    merged_df = clean_df.merge(grupo_articulos, how='inner', left_on='ARTICULO', right_on='codigo')
    
    # Display 5 random matched results
    print("Random 5 Matches:")
    print(merged_df.sample(n=5, random_state=1))

    # Find non-matching rows from clean_df
    unmatched_articulos = clean_df[~clean_df['ARTICULO'].isin(grupo_articulos['codigo'])]
    
    # Display 5 random non-matching results
    print("\nRandom 5 Non-Matches:")
    print(unmatched_articulos.sample(n=5, random_state=1))

    # Count the number of matches
    num_matches = len(merged_df)
    
    return num_matches

# Example usage
# Ensure that clean_df and grupo_articulos are defined as pandas DataFrames with their respective columns
num_matches = count_and_show_matches(clean_df, grupo_articulos)
print("\nNumber of matches found:", num_matches)

Random 5 Matches:
        EJERCICIO                    FECHA  CLIENTE  \
430435       2023  2023-01-27 00:00:00.000    80468
671319       2024  2024-05-27 00:00:00.000    85287
20020        2021  2021-09-03 00:00:00.000     1403
347638       2024  2024-06-04 00:00:00.000    79653
187692       2021  2021-07-22 00:00:00.000    78991

                                              DESCRIPCION  UNIDADES  \
430435       MANGUITO PORTABRIDA DE PRESION ( PVC ) DE 50       1.0
671319           TE DE METAL ( LATON ) FIGURA 130 DE 3/4"       1.0
20020   Vaso de expansion multi-funcion KAR24 membrana...       1.0
347638         RACOR LOCO FIGURA 359 DE LATON DE 18 x 1/2       5.0
187692  Junta torica de 210 x 9 viton ref 4408010409 F...       1.0

              ARTICULO CODIGO_COMPRA  FRECUENCIA_ANUAL  VENTA_ANUAL  \
430435       090127150      SM1-1438               416     58833.57
671319       021413034        8-4598                96     20820.25
20020        1508KAR24     SM1-15963               622     50769.81
347638   0201GU3591820        2-3973               245     18793.17
187692  09064408010409        2-5015               480     45922.44

                codigo codigo_familia  codigo_fabricante
430435       090127150           0901           40007531
671319       021413034           0664           40000086
20020        1508KAR24           0434           40000011
347638   0201GU3591820         0201GU           40000154
187692  09064408010409         090645           40001132

Random 5 Non-Matches:
        EJERCICIO                    FECHA  CLIENTE  \
556006       2021  2021-11-09 00:00:00.000    82516
647026       2021  2021-02-10 00:00:00.000    84435
355946       2023  2023-06-15 00:00:00.000    79653
554918       2021  2021-10-20 00:00:00.000    82516
251565       2021  2021-12-15 00:00:00.000    79187

                                              DESCRIPCION  UNIDADES  \
556006                ASIENTO INODORO AQUARIA BLANCO ROCA       1.0
647026  LLAVE DE PASO ESFERA MODELO TAJO 2000 HEMBRA H...       2.0
355946                                NIPEL 3/4 DE 200 mm       1.0
554918  MECANISMO UNIVERSAL DE ALIMENTACION LATERAL PA...       1.0
251565                       soporte deslizante cuadradoN       1.0

             ARTICULO CODIGO_COMPRA  FRECUENCIA_ANUAL  VENTA_ANUAL
556006      20R203WBL     BT7-15240                73     14401.65
647026   1601ESSLHH12        8-1433                99     13591.09
355946       02233420        2-4248               287     22567.89
554918  00R9822502400       8-10461                73     14401.65
251565        3200221     BT7-16789               331     30933.23

Number of matches found: 700183

In [49]:
grupo_articulos = grupo_articulos.rename(columns={'codigo': 'ARTICULO'})

In [50]:
grupo_articulos.head()

          ARTICULO codigo_familia  codigo_fabricante
0     000799VA60EX           0007           40001081
1  0007AN1001009BL           0007           40001081
2    0007AN75759BL           0007           40001081
3    0007AN80809BL           0007           40001081
4     0007AN9090BL           0007           40001081

In [51]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716950 entries, 0 to 716949
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EJERCICIO         716950 non-null  int64
 1   FECHA             716950 non-null  object
 2   CLIENTE           716950 non-null  int64
 3   DESCRIPCION       716950 non-null  object
 4   UNIDADES          716950 non-null  float64
 5   ARTICULO          716950 non-null  object
 6   CODIGO_COMPRA     716950 non-null  object
 7   FRECUENCIA_ANUAL  716950 non-null  int64
 8   VENTA_ANUAL       716765 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 49.2+ MB

In [52]:
clean_df.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29,28077.52
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29,28077.52
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21,6723.96
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29,28077.52
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51,24813.50

1 - Añadimos los grupos de producto y los agrupamos en su correspondiente agrupación de código.

In [53]:
clean_df = clean_df.merge(grupo_articulos[['ARTICULO', 'codigo_familia', 'codigo_fabricante']],on='ARTICULO',how='left')

In [54]:
clean_df.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL,codigo_familia,codigo_fabricante
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29,28077.52,0028,40007404.0
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29,28077.52,0044,40000662.0
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21,6723.96,0044,40000662.0
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29,28077.52,0064,40000772.0
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51,24813.50,00R006,40000138.0

In [55]:
clean_df.shape

(716950, 11)

In [56]:
clean_df.isnull().sum()

EJERCICIO                0
FECHA                    0
CLIENTE                  0
DESCRIPCION              0
UNIDADES                 0
ARTICULO                 0
CODIGO_COMPRA            0
FRECUENCIA_ANUAL         0
VENTA_ANUAL            185
codigo_familia       16767
codigo_fabricante    16767
dtype: int64

In [57]:
# Especificamos las filas que queremos ver (las que son con valor nulo)
filas_nulas = clean_df[clean_df['VENTA_ANUAL'].isna()]

# Mostrar las filas
print(filas_nulas)

             EJERCICIO            FECHA         CLIENTE      DESCRIPCION  \
716765    109449143835    0109449143835    109449143835    0109449143835
716766    109449143835    0109449143835    109449143835    0109449143835
716767    109449143835    0109449143835    109449143835    0109449143835
716768    109449143835    0109449143835    109449143835    0109449143835
716769    109449143835    0109449143835    109449143835    0109449143835
716770    109449143835    0109449143835    109449143835    0109449143835
716771    109449161835    0109449161835    109449161835    0109449161835
716772    109449161835    0109449161835    109449161835    0109449161835
716773    109449161835    0109449161835    109449161835    0109449161835
716774    109449161835    0109449161835    109449161835    0109449161835
716775    109449161835    0109449161835    109449161835    0109449161835
716776    109449161835    0109449161835    109449161835    0109449161835
716777    109449161835    0109449161835    109449161835    0109449161835
716778    109449161835    0109449161835    109449161835    0109449161835
716779    109449161835    0109449161835    109449161835    0109449161835
716780    109449161835    0109449161835    109449161835    0109449161835
716781    109449161835    0109449161835    109449161835    0109449161835
716782    109449161835    0109449161835    109449161835    0109449161835
716783    109449161835    0109449161835    109449161835    0109449161835
716784    109449161835    0109449161835    109449161835    0109449161835
716785    109449161835    0109449161835    109449161835    0109449161835
716786    109449161835    0109449161835    109449161835    0109449161835
716787    109449161835    0109449161835    109449161835    0109449161835
716788    109449161835    0109449161835    109449161835    0109449161835
716789    109521639301    0109521639301    109521639301    0109521639301
716790    109521639301    0109521639301    109521639301    0109521639301
716791    109521639301    0109521639301    109521639301    0109521639301
716792    109521639301    0109521639301    109521639301    0109521639301
716793    109521639301    0109521639301    109521639301    0109521639301
716794    109521639301    0109521639301    109521639301    0109521639301
716795    109521639301    0109521639301    109521639301    0109521639301
716796    109521639301    0109521639301    109521639301    0109521639301
716797    109521639301    0109521639301    109521639301    0109521639301
716798    109521639301    0109521639301    109521639301    0109521639301
716799    109521639301    0109521639301    109521639301    0109521639301
716800    621083100040    0621083100040    621083100040    0621083100040
716801    621083100040    0621083100040    621083100040    0621083100040
716802    621083100040    0621083100040    621083100040    0621083100040
716803    621083100040    0621083100040    621083100040    0621083100040
716804    621083100040    0621083100040    621083100040    0621083100040
716805    621083100040    0621083100040    621083100040    0621083100040
716806    621397068060    0621397068060    621397068060    0621397068060
716807    621397068060    0621397068060    621397068060    0621397068060
716808    621397068060    0621397068060    621397068060    0621397068060
716809    621397068060    0621397068060    621397068060    0621397068060
716810    621397068060    0621397068060    621397068060    0621397068060
716811    820230501800   08202305018E02    820230501800   08202305018E02
716812    820230501800   08202305018E02    820230501800   08202305018E02
716813    820230501800   08202305018E02    820230501800   08202305018E02
716814    820230501800   08202305018E02    820230501800   08202305018E02
716815    820230501800   08202305018E02    820230501800   08202305018E02
716816    820230501800   08202305018E02    820230501800   08202305018E02
716817    820230501800   08202305018E02    820230501800   08202305018E02
716818   1094403048501   01094403048501   1094403048501   01094403048501
716819   1094403048501   01094403048501   1094403048501   01094403048501
716820   1094403048501   01094403048501   1094403048501   01094403048501
716821   1094403048501   01094403048501   1094403048501   01094403048501
716822   1094403048501   01094403048501   1094403048501   01094403048501
716823   1094403048501   01094403048501   1094403048501   01094403048501
716824   1094403048501   01094403048501   1094403048501   01094403048501
716825   1094403048501   01094403048501   1094403048501   01094403048501
716826   1094403048501   01094403048501   1094403048501   01094403048501
716827   1094403048501   01094403048501   1094403048501   01094403048501
716828   1094403048501   01094403048501   1094403048501   01094403048501
716829   1094403048501   01094403048501   1094403048501   01094403048501
716830   1094403048501   01094403048501   1094403048501   01094403048501
716831   1094403048501   01094403048501   1094403048501   01094403048501
716832   1094403048501   01094403048501   1094403048501   01094403048501
716833   1094403048501   01094403048501   1094403048501   01094403048501
716834   1094403048501   01094403048501   1094403048501   01094403048501
716835   1094403048501   01094403048501   1094403048501   01094403048501
716836   1094403048501   01094403048501   1094403048501   01094403048501
716837   1094403048501   01094403048501   1094403048501   01094403048501
716838   1094403048501   01094403048501   1094403048501   01094403048501
716839   1094403048501   01094403048501   1094403048501   01094403048501
716840   1094403048501   01094403048501   1094403048501   01094403048501
716841   1094403450101   01094403450101   1094403450101   01094403450101
716842   1094403450101   01094403450101   1094403450101   01094403450101
716843   1094403450101   01094403450101   1094403450101   01094403450101
716844   1094403450101   01094403450101   1094403450101   01094403450101
716845   1094403450101   01094403450101   1094403450101   01094403450101
716846   1094403450101   01094403450101   1094403450101   01094403450101
716847   1094403450101   01094403450101   1094403450101   01094403450101
716848   1094403450102   01094403450102   1094403450102   01094403450102
716849   1094403450102   01094403450102   1094403450102   01094403450102
716850   1094403450102   01094403450102   1094403450102   01094403450102
716851   1094403450102   01094403450102   1094403450102   01094403450102
716852   1094403450102   01094403450102   1094403450102   01094403450102
716853   1094403450102   01094403450102   1094403450102   01094403450102
716854   1094403450102   01094403450102   1094403450102   01094403450102
716855   1094403450102   01094403450102   1094403450102   01094403450102
716856   1094403450102   01094403450102   1094403450102   01094403450102
716857   1094403450102   01094403450102   1094403450102   01094403450102
716858   1094403450102   01094403450102   1094403450102   01094403450102
716859   1094403450102   01094403450102   1094403450102   01094403450102
716860   1094403450102   01094403450102   1094403450102   01094403450102
716861   1094403450102   01094403450102   1094403450102   01094403450102
716862   1094403450102   01094403450102   1094403450102   01094403450102
716863   1094403450102   01094403450102   1094403450102   01094403450102
716864   1094403450102   01094403450102   1094403450102   01094403450102
716865   1094403450102   01094403450102   1094403450102   01094403450102
716866   1094403450102   01094403450102   1094403450102   01094403450102
716867   1094403450102   01094403450102   1094403450102   01094403450102
716868   1094403450102   01094403450102   1094403450102   01094403450102
716869   1094403450102   01094403450102   1094403450102   01094403450102
716870   1094403450102   01094403450102   1094403450102   01094403450102
716871   1094403450102   01094403450102   1094403450102   01094403450102
716872   1094403450102   01094403450102   1094403450102   01094403450102
716873   1094403450102   01094403450102   1094403450102   01094403450102
716874   1094403450102   01094403450102   1094403450102   01094403450102
716875   1094403450102   01094403450102   1094403450102   01094403450102
716876   1094403450102   01094403450102   1094403450102   01094403450102
716877   1094403450102   01094403450102   1094403450102   01094403450102
716878   1094403450102   01094403450102   1094403450102   01094403450102
716879   1094403450102   01094403450102   1094403450102   01094403450102
716880   1094403450102   01094403450102   1094403450102   01094403450102
716881   1094403463706   01094403463706   1094403463706   01094403463706
716882   1094403463706   01094403463706   1094403463706   01094403463706
716883   1094403463706   01094403463706   1094403463706   01094403463706
716884   1094403463706   01094403463706   1094403463706   01094403463706
716885   1094403463706   01094403463706   1094403463706   01094403463706
716886   1094403463706   01094403463706   1094403463706   01094403463706
716887   1094403463706   01094403463706   1094403463706   01094403463706
716888   1094403463706   01094403463706   1094403463706   01094403463706
716889   1094403463706   01094403463706   1094403463706   01094403463706
716890   1094403463706   01094403463706   1094403463706   01094403463706
716891   1094403463706   01094403463706   1094403463706   01094403463706
716892   1094403463706   01094403463706   1094403463706   01094403463706
716893   1094403463706   01094403463706   1094403463706   01094403463706
716894   1094403463706   01094403463706   1094403463706   01094403463706
716895   1094403463706   01094403463706   1094403463706   01094403463706
716896   1094403463706   01094403463706   1094403463706   01094403463706
716897   1094403463706   01094403463706   1094403463706   01094403463706
716898   1094403463706   01094403463706   1094403463706   01094403463706
716899   1094403463706   01094403463706   1094403463706   01094403463706
716900   1094403463706   01094403463706   1094403463706   01094403463706
716901   1094403463706   01094403463706   1094403463706   01094403463706
716902   1094403463706   01094403463706   1094403463706   01094403463706
716903   1094403463706   01094403463706   1094403463706   01094403463706
716904   1094403463706   01094403463706   1094403463706   01094403463706
716905   1094403463706   01094403463706   1094403463706   01094403463706
716906   1094403463706   01094403463706   1094403463706   01094403463706
716907   1094403944401   01094403944401   1094403944401   01094403944401
716908   1094403944401   01094403944401   1094403944401   01094403944401
716909   1094403944401   01094403944401   1094403944401   01094403944401
716910   1094403944401   01094403944401   1094403944401   01094403944401
716911   1094403944401   01094403944401   1094403944401   01094403944401
716912   1094403944401   01094403944401   1094403944401   01094403944401
716913   1094403944401   01094403944401   1094403944401   01094403944401
716914   1094403944401   01094403944401   1094403944401   01094403944401
716915   1094403944401   01094403944401   1094403944401   01094403944401
716916   1094403944401   01094403944401   1094403944401   01094403944401
716917   1094403944401   01094403944401   1094403944401   01094403944401
716918   1094403944401   01094403944401   1094403944401   01094403944401
716919   1094429963110   01094429963110   1094429963110   01094429963110
716920   1094429963110   01094429963110   1094429963110   01094429963110
716921   1094429963110   01094429963110   1094429963110   01094429963110
716922   1094429963110   01094429963110   1094429963110   01094429963110
716923   1094429963110   01094429963110   1094429963110   01094429963110
716924   1094429963110   01094429963110   1094429963110   01094429963110
716925   1094429963110   01094429963110   1094429963110   01094429963110
716926   1094429963110   01094429963110   1094429963110   01094429963110
716927   1094429963110   01094429963110   1094429963110   01094429963110
716928   1094429963110   01094429963110   1094429963110   01094429963110
716929   1094429963110   01094429963110   1094429963110   01094429963110
716930   1094429963110   01094429963110   1094429963110   01094429963110
716931   1094429963110   01094429963110   1094429963110   01094429963110
716932   1094429963110   01094429963110   1094429963110   01094429963110
716933   1094429963110   01094429963110   1094429963110   01094429963110
716934   1094429963110   01094429963110   1094429963110   01094429963110
716935   1094429963110   01094429963110   1094429963110   01094429963110
716936   1094429963110   01094429963110   1094429963110   01094429963110
716937   1094429963110   01094429963110   1094429963110   01094429963110
716938   9064402010501   09064402010501   9064402010501   09064402010501
716939   9064402010501   09064402010501   9064402010501   09064402010501
716940   9064402010501   09064402010501   9064402010501   09064402010501
716941   9064402010501   09064402010501   9064402010501   09064402010501
716942   9064402010501   09064402010501   9064402010501   09064402010501
716943   9064402010501   09064402010501   9064402010501   09064402010501
716944  10944134315003  010944134315003  10944134315003  010944134315003
716945  10944134315003  010944134315003  10944134315003  010944134315003
716946  10944134315003  010944134315003  10944134315003  010944134315003
716947  10944134315003  010944134315003  10944134315003  010944134315003
716948  10944134315003  010944134315003  10944134315003  010944134315003
716949  10944134315003  010944134315003  10944134315003  010944134315003

            UNIDADES         ARTICULO                   CODIGO_COMPRA  \
716765  1.094491e+11    0109449143835      0109449143835-109449143835
716766  1.094491e+11    0109449143835      0109449143835-109449143835
716767  1.094491e+11    0109449143835      0109449143835-109449143835
716768  1.094491e+11    0109449143835      0109449143835-109449143835
716769  1.094491e+11    0109449143835      0109449143835-109449143835
716770  1.094491e+11    0109449143835      0109449143835-109449143835
716771  1.094492e+11    0109449161835      0109449161835-109449161835
716772  1.094492e+11    0109449161835      0109449161835-109449161835
716773  1.094492e+11    0109449161835      0109449161835-109449161835
716774  1.094492e+11    0109449161835      0109449161835-109449161835
716775  1.094492e+11    0109449161835      0109449161835-109449161835
716776  1.094492e+11    0109449161835      0109449161835-109449161835
716777  1.094492e+11    0109449161835      0109449161835-109449161835
716778  1.094492e+11    0109449161835      0109449161835-109449161835
716779  1.094492e+11    0109449161835      0109449161835-109449161835
716780  1.094492e+11    0109449161835      0109449161835-109449161835
716781  1.094492e+11    0109449161835      0109449161835-109449161835
716782  1.094492e+11    0109449161835      0109449161835-109449161835
716783  1.094492e+11    0109449161835      0109449161835-109449161835
716784  1.094492e+11    0109449161835      0109449161835-109449161835
716785  1.094492e+11    0109449161835      0109449161835-109449161835
716786  1.094492e+11    0109449161835      0109449161835-109449161835
716787  1.094492e+11    0109449161835      0109449161835-109449161835
716788  1.094492e+11    0109449161835      0109449161835-109449161835
716789  1.095216e+11    0109521639301      0109521639301-109521639301
716790  1.095216e+11    0109521639301      0109521639301-109521639301
716791  1.095216e+11    0109521639301      0109521639301-109521639301
716792  1.095216e+11    0109521639301      0109521639301-109521639301
716793  1.095216e+11    0109521639301      0109521639301-109521639301
716794  1.095216e+11    0109521639301      0109521639301-109521639301
716795  1.095216e+11    0109521639301      0109521639301-109521639301
716796  1.095216e+11    0109521639301      0109521639301-109521639301
716797  1.095216e+11    0109521639301      0109521639301-109521639301
716798  1.095216e+11    0109521639301      0109521639301-109521639301
716799  1.095216e+11    0109521639301      0109521639301-109521639301
716800  6.210831e+11    0621083100040      0621083100040-621083100040
716801  6.210831e+11    0621083100040      0621083100040-621083100040
716802  6.210831e+11    0621083100040      0621083100040-621083100040
716803  6.210831e+11    0621083100040      0621083100040-621083100040
716804  6.210831e+11    0621083100040      0621083100040-621083100040
716805  6.210831e+11    0621083100040      0621083100040-621083100040
716806  6.213971e+11    0621397068060      0621397068060-621397068060
716807  6.213971e+11    0621397068060      0621397068060-621397068060
716808  6.213971e+11    0621397068060      0621397068060-621397068060
716809  6.213971e+11    0621397068060      0621397068060-621397068060
716810  6.213971e+11    0621397068060      0621397068060-621397068060
716811  8.202305e+11   08202305018E02     08202305018E02-820230501800
716812  8.202305e+11   08202305018E02     08202305018E02-820230501800
716813  8.202305e+11   08202305018E02     08202305018E02-820230501800
716814  8.202305e+11   08202305018E02     08202305018E02-820230501800
716815  8.202305e+11   08202305018E02     08202305018E02-820230501800
716816  8.202305e+11   08202305018E02     08202305018E02-820230501800
716817  8.202305e+11   08202305018E02     08202305018E02-820230501800
716818  1.094403e+12   01094403048501    01094403048501-1094403048501
716819  1.094403e+12   01094403048501    01094403048501-1094403048501
716820  1.094403e+12   01094403048501    01094403048501-1094403048501
716821  1.094403e+12   01094403048501    01094403048501-1094403048501
716822  1.094403e+12   01094403048501    01094403048501-1094403048501
716823  1.094403e+12   01094403048501    01094403048501-1094403048501
716824  1.094403e+12   01094403048501    01094403048501-1094403048501
716825  1.094403e+12   01094403048501    01094403048501-1094403048501
716826  1.094403e+12   01094403048501    01094403048501-1094403048501
716827  1.094403e+12   01094403048501    01094403048501-1094403048501
716828  1.094403e+12   01094403048501    01094403048501-1094403048501
716829  1.094403e+12   01094403048501    01094403048501-1094403048501
716830  1.094403e+12   01094403048501    01094403048501-1094403048501
716831  1.094403e+12   01094403048501    01094403048501-1094403048501
716832  1.094403e+12   01094403048501    01094403048501-1094403048501
716833  1.094403e+12   01094403048501    01094403048501-1094403048501
716834  1.094403e+12   01094403048501    01094403048501-1094403048501
716835  1.094403e+12   01094403048501    01094403048501-1094403048501
716836  1.094403e+12   01094403048501    01094403048501-1094403048501
716837  1.094403e+12   01094403048501    01094403048501-1094403048501
716838  1.094403e+12   01094403048501    01094403048501-1094403048501
716839  1.094403e+12   01094403048501    01094403048501-1094403048501
716840  1.094403e+12   01094403048501    01094403048501-1094403048501
716841  1.094403e+12   01094403450101    01094403450101-1094403450101
716842  1.094403e+12   01094403450101    01094403450101-1094403450101
716843  1.094403e+12   01094403450101    01094403450101-1094403450101
716844  1.094403e+12   01094403450101    01094403450101-1094403450101
716845  1.094403e+12   01094403450101    01094403450101-1094403450101
716846  1.094403e+12   01094403450101    01094403450101-1094403450101
716847  1.094403e+12   01094403450101    01094403450101-1094403450101
716848  1.094403e+12   01094403450102    01094403450102-1094403450102
716849  1.094403e+12   01094403450102    01094403450102-1094403450102
716850  1.094403e+12   01094403450102    01094403450102-1094403450102
716851  1.094403e+12   01094403450102    01094403450102-1094403450102
716852  1.094403e+12   01094403450102    01094403450102-1094403450102
716853  1.094403e+12   01094403450102    01094403450102-1094403450102
716854  1.094403e+12   01094403450102    01094403450102-1094403450102

In [58]:
clean_df = clean_df.dropna(subset=['VENTA_ANUAL'])

In [59]:
clean_df.isnull().sum()

EJERCICIO                0
FECHA                    0
CLIENTE                  0
DESCRIPCION              0
UNIDADES                 0
ARTICULO                 0
CODIGO_COMPRA            0
FRECUENCIA_ANUAL         0
VENTA_ANUAL              0
codigo_familia       16755
codigo_fabricante    16755
dtype: int64

Obtenemos directamente el codigo de familia del propio código

In [60]:
clean_df['codigo_familia'] = clean_df['codigo_familia'].fillna(clean_df['ARTICULO'].str[:4])

Hacemos un match con grupo_articulos para obtener el codigo de fabricante

Rellenamos el clean_df con los códigos de fabricante que hemos conseguido encontrar, como los que no se encontraron son muy pocos en referencia al dataset, haremos un drop.

In [61]:
clean_df.isnull().sum()

EJERCICIO                0
FECHA                    0
CLIENTE                  0
DESCRIPCION              0
UNIDADES                 0
ARTICULO                 0
CODIGO_COMPRA            0
FRECUENCIA_ANUAL         0
VENTA_ANUAL              0
codigo_familia           0
codigo_fabricante    16755
dtype: int64

In [63]:
# Ahora vamos a ver las filas nulas del codigo_fabricante.
filas_nulas_2 = clean_df[clean_df['codigo_fabricante'].isna()]

In [64]:
filas_nulas_2.shape

(16755, 11)

In [65]:
filas_nulas_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16755 entries, 28 to 716726
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EJERCICIO          16755 non-null  int64
 1   FECHA              16755 non-null  object
 2   CLIENTE            16755 non-null  int64
 3   DESCRIPCION        16755 non-null  object
 4   UNIDADES           16755 non-null  float64
 5   ARTICULO           16755 non-null  object
 6   CODIGO_COMPRA      16755 non-null  object
 7   FRECUENCIA_ANUAL   16755 non-null  int64
 8   VENTA_ANUAL        16755 non-null  float64
 9   codigo_familia     16755 non-null  object
 10  codigo_fabricante  0 non-null      float64
dtypes: float64(3), int64(3), object(5)
memory usage: 1.5+ MB

In [66]:
filas_nulas_2['codigo_familia'].value_counts()

codigo_familia
05TE    1722
00R9    1323
20R2    1304
0610    1262
0708     927
01R1     760
0453     405
0159     376
1702     357
0903     315
00R1     300
02ME     298
0804     279
0719     273
0764     272
3200     257
0644     236
05CG     218
0274     205
1004     195
1211     172
0265     156
0906     145
1611     128
0211     126
0125     125
0108     116
1007     113
0513     113
07BH     113
1251     103
01r1      99
0044      95
0410      92
0812      91
0252      91
0060      82
0109      78
1207      75
0114      73
0660      72
1012      70
0668      63
1601      60
0808      60
1604      58
0692      58
0210      58
00r1      56
20r2      51
1803      50
0409      50
07AW      48
1252      47
0231      46
0662      45
4900      44
2003      43
0318      43
1823      42
0485      42
0803      41
0599      41
32RB      40
0240      40
07R0      39
0239      39
0457      38
0597      38
0246      38
2002      38
0302      37
0226      37
2799      37
0065      35
07BA      35
05cg      33
1257      33
1703      33
0207      32
1806      31
0705      29
0770      29
0408      28
2001      28
0317      28
01R9      27
0730      27
0223      27
07ba      26
0138      26
0455      25
0772      25
0201      25
0621      22
2902      22
0121      22
0208      21
1201      21
00r9      21
0806      20
0642      19
0434      19
0238      18
0112      18
2802      17
1402      17
1214      17
1701      17
0636      16
0028      16
1209      15
0315      15
0800      15
0236      15
0217      15
07R3      14
0216      14
0230      14
0780      14
0793      14
1508      14
07AV      13
0639      13
0037      12
0047      12
07R2      12
2708      11
0043      11
0464      10
0301      10
07aw      10
0237      10
1005       9
0256       9
01R2       9
0484       9
0061       9
0440       9
2807       9
0516       8
0149       8
0664       8
0784       8
0816       8
0900       8
07BC       7
0580       7
0321       7
07AA       7
07R1       7
0810       7
0146       7
02GF       7
0111       7
01R0       6
00R3       6
00VA       6
0517       6
0502       6
07AY       6
1016       6
0144       6
0630       6
0825       5
1056       5
0458       5
50BP       5
0053       5
0245       5
07bh       5
0712       4
1808       4
0444       4
0249       4
0033       4
0790       4
1216       4
2008       4
0052       4
0247       4
1690       4
0219       4
0743       4
0479       4
0203       4
0510       4
07AI       3
0422       3
1801       3
0316       3
0676       3
0507       3
7678       3
0771       3
0134       3
0901       3
2005       3
00R0       3
0632       3
0107       3
0048       3
0652       3
1254       3
1053       3
01r9       3
0248       2
0509       2
07r0       2
0016       2
2801       2
1255       2
01r2       2
2052       2
1522       2
0805       2
0435       2
0483       2
0254       2
0113       2
07AS       2
0154       2
0666       2
00r0       2
1710       2
07AT       2
2101       2
0117       2
07BB       2
0135       2
0310       2
0224       2
0619       1
0907       1
0272       1
0675       1
0616       1
0220       1
0643       1
2714       1
7667       1
0063       1
07AZ       1
0106       1
0064       1
0242       1
0417       1
07bj       1
1404       1
1121       1
0511       1
0659       1
0229       1
20VI       1
0807       1
0760       1
0407       1
0406       1
0747       1
0626       1
1605       1
0915       1
0831       1
0635       1
0431       1
0693       1
0911       1
2721       1
0411       1
07BN       1
1055       1
01R3       1
0752       1
0822       1
0500       1
0147       1
0415       1
0040       1
2921       1
00R2       1
1015       1
0505       1
07AJ       1
0709       1
Name: count, dtype: int64

In [67]:
codigo_familia_counts = filas_nulas_2['codigo_familia'].value_counts()

familia_fabricante_dict = {}

for familia in codigo_familia_counts.index:
    # Buscar el codigo_fabricante correspondiente en grupo_articulos
    matching_rows = grupo_articulos[grupo_articulos['codigo_familia'] == familia]
    if not matching_rows.empty:
        fabricante = matching_rows['codigo_fabricante'].iloc[0]
        familia_fabricante_dict[familia] = fabricante
    else:
        print(f"No se encontró correspondencia para codigo_familia: {familia}")

# Paso 3: Iterar sobre filas_nulas y rellenar codigo_fabricante
for index, row in filas_nulas.iterrows():
    if pd.isna(row['codigo_fabricante']):
        familia = row['codigo_familia']
        if familia in familia_fabricante_dict:
            filas_nulas.at[index, 'codigo_fabricante'] = familia_fabricante_dict[familia]

No se encontró correspondencia para codigo_familia: 05TE
No se encontró correspondencia para codigo_familia: 02ME
No se encontró correspondencia para codigo_familia: 05CG
No se encontró correspondencia para codigo_familia: 0274
No se encontró correspondencia para codigo_familia: 0265
No se encontró correspondencia para codigo_familia: 1611
No se encontró correspondencia para codigo_familia: 01r1
No se encontró correspondencia para codigo_familia: 0252
No se encontró correspondencia para codigo_familia: 0114
No se encontró correspondencia para codigo_familia: 00r1
No se encontró correspondencia para codigo_familia: 20r2
No se encontró correspondencia para codigo_familia: 1803
No se encontró correspondencia para codigo_familia: 0231
No se encontró correspondencia para codigo_familia: 4900
No se encontró correspondencia para codigo_familia: 0240
No se encontró correspondencia para codigo_familia: 07R0
No se encontró correspondencia para codigo_familia: 2799
No se encontró correspondencia para codigo_familia: 05cg
No se encontró correspondencia para codigo_familia: 1703
No se encontró correspondencia para codigo_familia: 07ba
No se encontró correspondencia para codigo_familia: 0455
No se encontró correspondencia para codigo_familia: 0201
No se encontró correspondencia para codigo_familia: 2902
No se encontró correspondencia para codigo_familia: 0121
No se encontró correspondencia para codigo_familia: 00r9
No se encontró correspondencia para codigo_familia: 0238
No se encontró correspondencia para codigo_familia: 1214
No se encontró correspondencia para codigo_familia: 1701
No se encontró correspondencia para codigo_familia: 1209
No se encontró correspondencia para codigo_familia: 0216
No se encontró correspondencia para codigo_familia: 1508
No se encontró correspondencia para codigo_familia: 0043
No se encontró correspondencia para codigo_familia: 0301
No se encontró correspondencia para codigo_familia: 07aw
No se encontró correspondencia para codigo_familia: 0256
No se encontró correspondencia para codigo_familia: 0516
No se encontró correspondencia para codigo_familia: 07AA
No se encontró correspondencia para codigo_familia: 07R1
No se encontró correspondencia para codigo_familia: 00VA
No se encontró correspondencia para codigo_familia: 0517
No se encontró correspondencia para codigo_familia: 0502
No se encontró correspondencia para codigo_familia: 0458
No se encontró correspondencia para codigo_familia: 50BP
No se encontró correspondencia para codigo_familia: 0053
No se encontró correspondencia para codigo_familia: 07bh
No se encontró correspondencia para codigo_familia: 0444
No se encontró correspondencia para codigo_familia: 0790
No se encontró correspondencia para codigo_familia: 2008
No se encontró correspondencia para codigo_familia: 0052
No se encontró correspondencia para codigo_familia: 0247
No se encontró correspondencia para codigo_familia: 1690
No se encontró correspondencia para codigo_familia: 0219
No se encontró correspondencia para codigo_familia: 07AI
No se encontró correspondencia para codigo_familia: 0507
No se encontró correspondencia para codigo_familia: 7678
No se encontró correspondencia para codigo_familia: 0134
No se encontró correspondencia para codigo_familia: 2005
No se encontró correspondencia para codigo_familia: 00R0
No se encontró correspondencia para codigo_familia: 0107
No se encontró correspondencia para codigo_familia: 01r9
No se encontró correspondencia para codigo_familia: 0248
No se encontró correspondencia para codigo_familia: 07r0
No se encontró correspondencia para codigo_familia: 0016
No se encontró correspondencia para codigo_familia: 1255
No se encontró correspondencia para codigo_familia: 01r2
No se encontró correspondencia para codigo_familia: 2052
No se encontró correspondencia para codigo_familia: 0435
No se encontró correspondencia para codigo_familia: 0254
No se encontró correspondencia para codigo_familia: 0666
No se encontró correspondencia para codigo_familia: 00r0
No se encontró correspondencia para codigo_familia: 07AT
No se encontró correspondencia para codigo_familia: 2101
No se encontró correspondencia para codigo_familia: 0907
No se encontró correspondencia para codigo_familia: 7667
No se encontró correspondencia para codigo_familia: 07AZ
No se encontró correspondencia para codigo_familia: 07bj
No se encontró correspondencia para codigo_familia: 1121
No se encontró correspondencia para codigo_familia: 0511
No se encontró correspondencia para codigo_familia: 20VI
No se encontró correspondencia para codigo_familia: 0760
No se encontró correspondencia para codigo_familia: 0407
No se encontró correspondencia para codigo_familia: 0747
No se encontró correspondencia para codigo_familia: 0626
No se encontró correspondencia para codigo_familia: 0915
No se encontró correspondencia para codigo_familia: 0831
No se encontró correspondencia para codigo_familia: 0693
No se encontró correspondencia para codigo_familia: 0411
No se encontró correspondencia para codigo_familia: 1055
No se encontró correspondencia para codigo_familia: 0752
No se encontró correspondencia para codigo_familia: 0147
No se encontró correspondencia para codigo_familia: 0040
No se encontró correspondencia para codigo_familia: 2921
No se encontró correspondencia para codigo_familia: 00R2
No se encontró correspondencia para codigo_familia: 0505
No se encontró correspondencia para codigo_familia: 07AJ

In [75]:
mapeo = clean_df[clean_df['codigo_fabricante'].notna()].set_index('codigo_familia')['codigo_fabricante'].to_dict()

In [76]:
print(mapeo)

{'0028': 40007404.0, '0044': 40000662.0, '0064': 40000772.0, '00R006': 40000138.0, '00R0IT': 40000138.0, '00R0VI': 40000138.0, '00R1B5': 40000138.0, '00R1CI': 40000138.0, '00R9': 40000138.0, '00R9MU': 40000138.0, '00R9SE': 40000138.0, '0108': 40007692.0, '0109RT': 40007694.0, '0112': 40000136.0, '0113CR': 40007146.0, '0113LC': 40007146.0, '0135': 40007395.0, '0138DR': 40007451.0, '0138dr': 40007451.0, '0138': 40007451.0, '0159': 40007478.0, '01R1': 40000138.0, '01R9': 40000138.0, '0200': 40000650.0, '0201BU': 40000154.0, '0201CU': 40000154.0, '0201FC': 40000453.0, '0204DN': 40007017.0, '0205': 40000704.0, '0207': 40000958.0, '0208': 40000958.0, '0209': 40000704.0, '0210': 40007578.0, '0211': 40000085.0, '0212': 40000102.0, '0664': 40000086.0, '0215': 40000156.0, '0222': 40000085.0, '0223': 40007212.0, '090645': 40001132.0, '0239': 40000702.0, '026507': 40007107.0, '0274VA': 40007610.0, '0300': 40000940.0, '0310': 40007275.0, '0315': 40007626.0, '0318': 40007342.0, '0321': 40007534.0, '0410': 40000592.0, '0422': 40007484.0, '0422AL': 40007396.0, '0504': 40000536.0, '0599': 40000940.0, '05TE11AN': 40007400.0, '05TE11BI': 40007400.0, '05TE11CO': 40007400.0, '05TE11OP': 40007400.0, '0605': 40007199.0, '0607': 40007067.0, '0609M1238': 40007689.0, '0610': 40001145.0, '0619': 40007087.0, '06ME': 40000814.0, '0635': 40000537.0, '0636BI': 40000184.0, '0636': 40000184.0, '0636RI': 40000184.0, '0636SU': 40000184.0, '0639': 40007569.0, '0642': 40007152.0, '0642MT': 40007152.0, '0644': 40000085.0, '0646': 40000117.0, '0652': 40007103.0, '0654': 40000814.0, '0656': 40007427.0, '0659': 40007533.0, '0660': 40000055.0, '0662': 40000668.0, '0668': 40000530.0, '0672': 40001145.0, '0675': 40007089.0, '0681': 40000047.0, '0691': 40007167.0, '0692': 40007494.0, '0695': 40007602.0, '0695MC': 40007602.0, '1702': 40000536.0, '0764CO': 40007009.0, '0803': 40007045.0, '0804': 40007533.0, '0804PEBL': 40000438.0, '0805CA': 40000438.0, '0805': 40007533.0, '0807': 40007103.0, '0808': 40007103.0, '0810': 40000085.0, '0811': 40000876.0, '0812': 40000085.0, '0816': 40007533.0, '0821': 40000536.0, '0832': 40007641.0, '0900': 40000438.0, '0901': 40007533.0, '0903': 40000616.0, '1001': 40007604.0, '1004': 40000138.0, '0229CT': 40000154.0, '1252': 40000406.0, '1600': 40000346.0, '0240AC': 40001145.0, '1601': 40001145.0, '1601ES': 40001145.0, '1601TE': 40001145.0, '1604': 40000346.0, '1604VR': 40000346.0, '1604VRL': 40000154.0, '1609': 40007184.0, '1630': 40000085.0, '1706': 40007103.0, '1707': 40007627.0, '1806': 40007271.0, '1807': 40007108.0, '1823': 40007555.0, '1823PRO': 40007638.0, '2002': 40000295.0, '2003': 40007661.0, '20R200': 40000138.0, '20R202': 40000138.0, '20R204W': 40000138.0, '20R206WS': 40000138.0, '20R209': 40000138.0, '20R218ACC': 40000138.0, '20R299': 40000138.0, '0230': 40000826.0, '0770': 40000697.0, '07AV': 40007355.0, '1204': 40000086.0, '0109E': 40007694.0, '0201GU': 40000154.0, '0275': 40007364.0, '0422VI': 40007484.0, '0434': 40000011.0, '0464': 40007244.0, '0673': 40000616.0, '0676': 40000650.0, '00R1BTG': 40000138.0, '0109': 40007694.0, '07R2HH': 40000138.0, '1105': 40000697.0, '1603290': 40000592.0, '0613': 40000536.0, '0047': 40000775.0, '00R004': 40000138.0, '00R0TE': 40000138.0, '00R0ZOCR': 40000138.0, '00R1B9': 40000138.0, '00R4B0': 40000138.0, '00R5B9': 40000138.0, '0113': 40007146.0, '0117': 40000346.0, '0162': 40007559.0, '0217G': 40007347.0, '0819': 40007350.0, '0237PF': 40001052.0, '0237': 40001052.0, '0240TU': 40001145.0, '025201': 40000321.0, '0253': 40001117.0, '0259': 40007635.0, '026505': 40007107.0, '026508': 40007107.0, '026503': 40007107.0, '026502': 40007107.0, '0268AZ': 40007608.0, '0272': 40007583.0, '0274AI': 40007610.0, '0274TI': 40007610.0, '0277F': 40007657.0, '0320RE': 40000011.0, '0406': 40007166.0, '0416': 40000704.0, '0510': 40000123.0, '058040': 40007235.0, '0580': 40007235.0, '05BCHA': 40007647.0, '05CG05CA': 40007232.0, '05CG1950': 40007378.0, '05TE01': 40007404.0, '05TE11MO': 40007400.0, '05TE11OL': 40007400.0, '05TEHAES': 40007647.0, '0609': 40000346.0, '0621': 40007130.0, '0633': 40000086.0, '0636MB': 40000184.0, '0665': 40000732.0, '0761': 40000975.0, '0764': 40007009.0, '0793': 40000547.0, '0804BL': 40000438.0, '1012': 40007037.0, '1515': 40007199.0, '1601GE': 40001145.0, '1631': 40007531.0, '1808': 40000558.0, '20R2ZO': 40000138.0, '20R204SE': 40000138.0, '20R209W': 40000138.0, '20R20TG': 40000138.0, '20R216': 40000138.0, '20R2HL': 40000138.0, '00R003': 40000138.0, '00R009': 40000138.0, '00R100': 40000138.0, '0109RE': 40007694.0, '0125': 40000988.0, '0146': 40000740.0, '0217': 40007347.0, '0224': 40007324.0, '023099': 40000826.0, '02771': 40007657.0, '0316': 40000061.0, '0440': 40000547.0, '05TE07': 40007159.0, '05TE10BALI': 40007596.0, '05TEHAVH3': 40007647.0, '0677': 40000346.0, '07R1VI': 40000138.0, '07R2A9': 40000138.0, '0815': 40000085.0, '0910': 40007288.0, '0914': 40007628.0, '1254': 40000958.0, '1257': 40007272.0, '1406': 40007554.0, '20R210': 40000138.0, '0678': 40007540.0, '01R1ZOCR': 40000138.0, '1402': 40007214.0, '0719': 40007389.0, '1007': 40001081.0, '00R1B4SE': 40000138.0, '013800': 40007451.0, '0210A': 40007578.0, '0315SA': 40007626.0, '05CG0599': 40007232.0, '05CG05': 40007232.0, '0817': 40007324.0, '1005': 40000138.0, '1603190': 40000592.0, '20R206WV': 40000138.0, '0512': 40000649.0, '058050': 40007235.0, '0636PR': 40000184.0, '0500': 40000536.0, '0644SA': 40000085.0, '0405': 40000598.0, '0501': 40000536.0, '0618': 40000537.0, '0645': 40000838.0, '0269': 40007587.0, '0061': 40007643.0, '0060AQG': 40007562.0, '01R2': 40000138.0, '01R231': 40000138.0, '01R232': 40000138.0, '01R221': 40000138.0, '0226': 40007340.0, '0232PT': 40007147.0, '0250': 40007191.0, '0400': 40007178.0, '0483': 40007475.0, '0704': 40007631.0, '0705': 40007625.0, '0705G': 40007404.0, '0708': 40007599.0, '0708PRO': 40007599.0, '0709': 40007404.0, '0756': 40001075.0, '07BA': 40007385.0, '07R1FACR': 40000138.0, '090660': 40001132.0, '1517': 40007244.0, '1819': 40007548.0, '2001': 40000050.0, '2006': 40007152.0, '20R209B': 40000138.0, '20R2FR': 40000138.0, '20R2HA': 40000138.0, '20R2EL': 40000138.0, '0036': 40007543.0, '0060': 40007562.0, '0220': 40000346.0, '0230OG': 40000826.0, '0233TPB': 40000154.0, '031599': 40007626.0, '0315SP': 40007626.0, '0409': 40000575.0, '0513': 40000649.0, '05TE1199': 40007400.0, '0606': 40007199.0, '0643': 40007120.0, '0644SUELO': 40000085.0, '07R2': 40000138.0, '07R2A6': 40000138.0, '0806SN8': 40000438.0, '090650': 40001132.0, '090640': 40001132.0, '1202': 40000086.0, '20R209BN': 40000138.0, '0037': 40000832.0, '00R1B4': 40000138.0, '0472': 40007635.0, '0514DP': 40007002.0, '05TETDFP': 40007331.0, '06751': 40007089.0, '20R2VR': 40000138.0, '07R005': 40000138.0, '0125RE': 40000988.0, '0213': 40000847.0, '0274AB': 40007610.0, '0485': 40007483.0, '07BH': 40007455.0, '07R2A7': 40000138.0, '0061PWV': 40007659.0, '00R1BH': 40000138.0, '0600': 40007431.0, '0616': 40007048.0, '0830': 40007612.0, '2720': 40000575.0, '07R2DE': 40000138.0, '0110': 40000814.0, '0433': 40000061.0, '2714': 40000718.0, '0062': 40007434.0, '00R008': 40000138.0, '00R1BSS': 40000138.0, '0632': 40000567.0, '0648': 40000086.0, '0649': 40007120.0, '0770RE35': 40000697.0, '0260': 40007147.0, '0322': 40007581.0, '0418': 40000972.0, '0007': 40001081.0, '00R2B7': 40000138.0, '00R3': 40000138.0, '0226A': 40007340.0, '07R2A8': 40000138.0, '0245': 40000704.0, '0230RE': 40000826.0, '0144': 40000964.0, '0424': 40007078.0, '0048': 40007465.0, '0065': 40007562.0, '00R412': 40000138.0, '0111': 40007687.0, '0210AG': 40000958.0, '0229': 40007277.0, '0232MU': 40007147.0, '026504': 40007107.0, '0465RA': 40000061.0, '05TE11IA': 40007400.0, '0730': 40000245.0, '0823': 40001031.0, '0906RE': 40001132.0, '1009': 40000144.0, '1015': 40007411.0, '1016': 40007491.0, '0033': 40001137.0, '025201PRE': 40000321.0, '025201SM': 40000321.0, '0438': 40001031.0, '0438AD': 40001031.0, '0465': 40000061.0, '0773CO': 40007404.0, '0457': 40007189.0, '0668GU': 40000530.0, '2807': 40000536.0, '05TE11MC': 40007400.0, '07AS': 40007341.0, '07R008': 40000138.0, '026501': 40007107.0, '0270': 40001145.0, '0597': 40000928.0, '05CGKA': 40007655.0, '00PAOT': 40000020.0, '0117GA': 40000346.0, '0209CIM': 40000704.0, '2801': 40007340.0, '0126': 40000567.0, '0644LICA': 40000085.0, '0644ME': 40000085.0, '20R214': 40000138.0, '1901': 40007527.0, '0808MP': 40007420.0, '0699': 40000704.0, '01R3': 40000138.0, '0900SN': 40000438.0, '1715': 40007567.0, '20R208': 40000138.0, '05CG19': 40007378.0, '0200TR': 40000650.0, '01R008': 40000138.0, '0458LL': 40007190.0, '0906': 40001132.0, '0513PP': 40000649.0, '0713': 40001100.0, '07BAPRO': 40007385.0, '0102': 40000154.0, '0226P': 40007340.0, '0204': 40007017.0, '0065vp': 40007566.0, '0242': 40001031.0, '0844': 40000085.0, '0408': 40000084.0, '0249': 40007608.0, '0276': 40007634.0, '0642TCE': 40007152.0, '0064LA': 40007547.0, '00R005': 40000138.0, '0137': 40007429.0, '05TE01RE': 40007404.0, '20R204B': 40000138.0, '20R217WA': 40000138.0, '05TE11BC': 40007400.0, '20R201': 40000138.0, '00R1B4SC': 40000138.0, '00R1KH': 40000138.0, '00R2B8': 40000138.0, '025299': 40000321.0, '05CG10': 40007596.0, '07R0SE': 40000138.0, '1800': 40007682.0, '1605': 40000154.0, '0271': 40000530.0, '0256A': 40007283.0, '07AW': 40007465.0, '2802': 40007239.0, '1618': 40007228.0, '0256M': 40007283.0, '0256T': 40007283.0, '05CG08VC': 40000520.0, '090625': 40001132.0, '0203': 40007133.0, '0780': 40000187.0, '1801': 40007103.0, '2530': 40000582.0, '0047RE': 40000775.0, '0232TT': 40007147.0, '00R115': 40000138.0, '0236EL': 40000438.0, '05CG0899': 40000520.0, '0792': 40007617.0, '07AY': 40007371.0, '07MAOT': 40000138.0, '0806': 40000438.0, '0827': 40000838.0, '1251': 40000406.0, '1521': 40000520.0, '1522850': 40007475.0, '1604DR': 40000346.0, '2721': 40007685.0, '32RB': 40000958.0, '1604IX': 40000346.0, '2002CL': 40000295.0, '0229UR': 40000154.0, '07R3QU': 40000138.0, '0808SL': 40007103.0, '0217CU': 40007347.0, '05CG0798': 40007270.0, '0822': 40007681.0, '07R1SI': 40000138.0, '00R1BHA': 40000138.0, '00R1B8': 40000138.0, '05CG07DM': 40000683.0, '05CGCR': 40007596.0, '1253': 40000406.0, '0232MT': 40007147.0, '0904': 40001132.0, '023030': 40000826.0, '1216': 40007416.0, '0432': 40000899.0, '1214CP': 40001132.0, '1211': 40001118.0, '0113CI': 40007146.0, '0263A': 40007449.0, '0263T': 40007449.0, '0320': 40000011.0, '0453': 40000940.0, '0486': 40007558.0, '0502IX': 40000123.0, '0520': 40007488.0, '0820': 40007233.0, '160430': 40000346.0, '0772': 40007081.0, '0644GE': 40000085.0, '0611CP': 40007500.0, '07R3': 40000138.0, '3200': 40007633.0, '0265PO': 40007107.0, '00R002': 40000138.0, '00R116MA': 40000138.0, '2712': 40007301.0, '00R1GI': 40000138.0, '00R2B7MA': 40000138.0, '00R509': 40000138.0, '1003': 40007675.0, '040999': 40000575.0, '0417': 40000749.0, '0254AC': 40001117.0, '0463': 40007237.0, '05CG21': 40000718.0, '1214RB': 40001132.0, '1612': 40000154.0, '1514': 40007229.0, '0117TI': 40000903.0, '0657': 40007591.0, '0202': 40007133.0, '0060VE': 40007633.0, '0315sa': 40007626.0, '2717': 40001132.0, '0475': 40007407.0, '0483RE': 40007519.0, '2805': 40000536.0, '0604': 40000567.0, '0630': 40000510.0, '0274AIR': 40007610.0, '0063': 40007516.0, '0302RE': 40007263.0, '05TE06': 40007159.0, '1122': 40007400.0, '00GE': 40007187.0, '0205RA': 40000704.0, '0317': 40007015.0, '05BC': 40007647.0, '05CG17': 40007477.0, '0066': 40007614.0, '0487': 40007593.0, '2722': 40007607.0, '0401': 40007324.0, '0274HE': 40007610.0, '0419': 40000773.0, '0631': 40000567.0, '07R2DI': 40000138.0, '05TE1099': 40007596.0, '1056': 40000172.0, '0668gu': 40000530.0, '0227AFB': 40007370.0, '0459': 40007331.0, '1201': 40000616.0, '0302': 40007263.0, '05TE12': 40000718.0, '0227AH': 40007370.0, '0453R': 40007500.0, '100499': 40000138.0, '090615': 40007657.0, '0117TD': 40000988.0, '025245': 40000321.0, '20R206BV': 40000138.0, '0274IG': 40007610.0, '025102': 40007210.0, '0422RE': 40007484.0, '1622': 40001132.0, '0454': 40007665.0, '0771': 40007409.0, '03VEIA': 40007275.0, '07R299': 40000138.0, '0803DR': 40000438.0, '0044AQ': 40000662.0, '0484': 40007589.0, '05CG07R': 40000683.0, '05TE10CC': 40007596.0, '00R1BA': 40000138.0, '0028R': 40007404.0, '0479': 40001117.0, '0241': 40001108.0, '20R206WG': 40000138.0, '0044SA': 40000662.0, '090620': 40001132.0, '0065EN': 40007562.0, '00S0': 40007031.0, '0234': 40007129.0, '00R1EL': 40000138.0, '0825': 40000438.0, '05TE1599': 40000873.0, '026506': 40007107.0, '0458TETF': 40007190.0, '04R8': 40000138.0, '0113JE': 40007146.0, '07BNM': 40007037.0, '00R0EA': 40000138.0, '07R1NU': 40000138.0, '20R217BA': 40000138.0, '090630': 40001132.0, '00R1b5': 40000138.0, '0046': 40000772.0, '0315RE': 40007621.0, '07BC': 40007398.0, '1710': 40000868.0, '07BP': 40007566.0, '20R20S': 40000138.0, '07R3AX': 40000138.0, '0218': 40000305.0, '05CG08VG': 40000520.0, '025101': 40007210.0, '01R299': 40000138.0, '00R00B16': 40000138.0, '1207UGP': 40000406.0, '0731': 40000221.0, '0743': 40000345.0, '0146PRO': 40000740.0, '0158': 40007442.0, '0422NO': 40007484.0, '02BTA': 40007236.0, '0088': 40007606.0, '0188': 40007606.0, '0788': 40007606.0, '0323': 40007673.0, '0053PD': 40007037.0, '0227AG': 40007370.0, '0236': 40000438.0, '05TE05': 40007159.0, '0803AD': 40000438.0, '0265HE': 40007107.0, '0237MP': 40001052.0, '07BB': 40007413.0, '0480BM': 40007441.0, '0143': 40007257.0, '2200': 40007539.0, '0427SMST': 40007372.0, '0701': 40007694.0, '0911': 40007645.0, '0779': 40000085.0, '0161': 40007524.0, '0006': 0.0}

In [77]:
clean_df['codigo_fabricante'] = clean_df.apply(
    lambda row: mapeo.get(row['codigo_familia']) if pd.isna(row['codigo_fabricante']) else row['codigo_fabricante'],
    axis=1
)

In [78]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 716765 entries, 0 to 716764
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EJERCICIO          716765 non-null  int64
 1   FECHA              716765 non-null  object
 2   CLIENTE            716765 non-null  int64
 3   DESCRIPCION        716765 non-null  object
 4   UNIDADES           716765 non-null  float64
 5   ARTICULO           716765 non-null  object
 6   CODIGO_COMPRA      716765 non-null  object
 7   FRECUENCIA_ANUAL   716765 non-null  int64
 8   VENTA_ANUAL        716765 non-null  float64
 9   codigo_familia     716765 non-null  object
 10  codigo_fabricante  711121 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 81.7+ MB

In [79]:
clean_df.isnull().sum()

EJERCICIO               0
FECHA                   0
CLIENTE                 0
DESCRIPCION             0
UNIDADES                0
ARTICULO                0
CODIGO_COMPRA           0
FRECUENCIA_ANUAL        0
VENTA_ANUAL             0
codigo_familia          0
codigo_fabricante    5644
dtype: int64

In [80]:
clean_df.shape

(716765, 11)

In [81]:
mapeo_2 = grupo_articulos[grupo_articulos['codigo_fabricante'].notna()].set_index('codigo_familia')['codigo_fabricante'].to_dict()

In [82]:
print(mapeo_2)

{'0007': 40001081, '0010LVHO': 40007085, '0015': 40007041, '0017': 40007428, '0044': 40000662, '0028': 40007404, '0028R': 40007404, '0033': 40001137, '07BH': 40007455, '0036': 40007543, '0037': 40000832, '00PAOT': 40000138, '0044SA': 40000662, '0044AQ': 40000662, '0046': 40000772, '0047RE': 40000775, '0047': 40000775, '0644ME': 40000085, '0048': 40007465, '0112': 40000136, '0053PD': 40007037, '3200': 40007561, '0006CO': 40007206, '0772': 40007081, '0065EN': 40007562, '32': 40000000, '0064': 40007562, '0060PA': 40007532, '0060AQG': 40007562, '0060VE': 40007633, '0060': 40007532, '0065': 40007562, '0061PWV': 40007659, '0061': 40007643, '0712': 40007495, '0062': 40007434, '0063AC': 40007516, '0063': 40007516, '0064LA': 40007547, '0064PA': 40007547, '0065vp': 40007566, '0070': 40007113, '0088': 40007606, '0756': 40001075, '00GAUN': 40000138, '00GE': 40007187, '00R00B16': 40000138, '0025': 40000138, '00R002': 40000138, '00R003': 40000138, '00R004': 40000138, '00R005': 40000138, '00R006': 40000138, '00R008': 40000138, '00R009': 40000138, '00R00BXL': 40000138, '00R0TE': 40000138, '00R0EA': 40000138, '00R0IT': 40000138, '00R0VI': 40000138, '00R0ZOCR': 40000138, '00R100': 40000138, '00R104': 40000138, '00R1B4SE': 40000138, '00R104SE': 40000138, '00R109': 40000138, '00R1B9': 40000138, '00R110': 40000138, '00R115': 40000138, '00R1b5': 40000138, '00R1B5': 40000138, '00R116MA': 40000138, '00R1BTG': 40000138, '00R1KH': 40000138, '00R1AM': 40000138, '00R1B4': 40000138, '00R1B4SC': 40000138, '00R1B8': 40000138, '00R1BA': 40000138, '00R1CI': 40000138, '00R1BH': 40000138, '00R1BE': 40000138, '00R1B': 40000138, '00R1BHA': 40000138, '00R1BSS': 40000138, '00R1GI': 40000138, '00R1EL': 40000138, '00R1HA': 40000138, '00R1SS': 40000138, '00R1VRBL': 40000138, '00R1VR': 40000138, '00R1': 40000138, '00R207': 40000138, '00R209': 40000138, '00R5B9': 40000138, '00R2B7MA': 40000138, '00R2B7': 40000138, '00R2B8': 40000138, '00R2SP': 40000138, '00R3': 40000138, '00R410': 40000138, '00R412': 40000138, '00R4B0': 40000138, '00R9': 40000138, '00R509': 40000138, '00R5B9SW': 40000138, '00R9SE': 40000138, '00R9MU': 40000138, '00S0': 40007031, '00SAOT': 40007031, '0453R': 40007500, '0102': 40000154, '0108': 40007692, '0106': 40000903, '0108PRO': 40007692, '0109RE': 40007694, '0109': 40007694, '0109RT': 40007694, '0109E': 40007694, '0110': 40000080, '0111': 40000970, '0632': 40000567, '0113': 40007146, '0113CI': 40007146, '0113CR': 40007146, '0113LC': 40007146, '0113JE': 40007146, '0117': 40000346, '0117GA': 40000346, '160430': 40000346, '0117TD': 40000988, '07MAOT': 40000686, '0117TI': 40000903, '0118CH': 40000965, '0118EX': 0, '0118TE': 40000965, '0125': 40000988, '0125RE': 40000988, '0126': 40000567, '0132OM': 40000171, '0133': 40007175, '0135': 40007395, '0692': 40007494, '0137': 40007429, '0138DR': 40007451, '0138': 40007451, '0138dr': 40007451, '013800': 40007555, '0139': 40007282, '0153': 40007667, '0141B': 40007315, '0141M': 40007315, '0143': 40007257, '0144': 40000567, '0146': 40000740, '0146PRO': 40000740, '0149': 40000808, '0150': 40001133, '1604': 40000346, '0154': 40000172, '0157': 40007299, '07AW': 40007465, '0158': 40007442, '0159': 40007652, '0161': 40007524, '0162': 40007559, '0163': 40007566, '0164': 40007582, '0165': 40007580, '0166': 40007675, '1003': 40007675, '0167': 40007662, '0188': 40007606, '01R008': 40000138, '01R009': 40000138, '01R3': 40000138, '01R0': 40000138, '01R1': 40000138, '01R232': 40000138, '01R221': 40000138, '07R1FACR': 40000138, '01R1ZOCR': 40000138, '01R9': 40000138, '01R2': 40000138, '01R231': 40000138, '01R299': 40000138, '0200': 40000755, '0200TR': 40000650, '0201BU': 40007522, '0201CU': 40000154, '0201FC': 40007147, '0201GU': 40000154, '0202': 40007133, '0203': 40007133, '0204': 40007017, '0204DN': 40007017, '1702': 41000063, '0205': 40000704, '0205RA': 40000704, '0207': 40000958, '0208': 40000958, '0209': 40000704, '0209CIM': 40000704, '0245': 40000704, '0210': 40007578, '0210AG': 40000958, '0210A': 40000438, '0211': 40000085, '1254': 40000085, '0212': 40000847, '0213': 40000847, '0213R': 40000847, '0213PO': 40000847, '0664': 40000086, '0215': 40000156, '0217': 40007347, '0217CU': 40007347, '0217G': 40007347, '0218': 40000305, '0220': 40000346, '0819': 40007350, '0222': 40000406, '1252': 40000406, '0223': 40007212, '0224': 40007324, '0226': 40007340, '0226A': 40007340, '0226P': 40007340, '0227CDA': 40000154, '0227AFB': 40007370, '0227AG': 40007370, '0227AH': 40007370, '0227THMT': 40007370, '025299': 40000321, '0229': 40007277, '023099': 40000826, '0230': 40000192, '023030': 40000826, '0230RE': 40000826, '0230OG': 40000826, '090645': 40001132, '0232TT': 40007147, '0232PT': 40007147, '0432': 40000899, '0232MT': 40007147, '0232MU': 40007147, '0233RE': 40000154, '0233TPB': 40000154, '0234': 40007129, '0236EL': 40001118, '0236': 40000438, '0237': 40001052, '0237MP': 40001052, '0237PF': 40001052, '0237RA': 40001052, '0239': 40000702, '0240AC': 40001145, '0240TU': 40001145, '0241': 40001108, '0242': 40001031, '0244': 40007055, '0246': 40007107, '0249': 40007608, '0250': 40007191, '025101': 40007210, '025102': 40007210, '025201': 40000321, '025201SM': 40000321, '025245': 40000321, '025201PRE': 40000321, '0253': 40001117, '0479': 40001117, '0254AC': 40001117, '0256A': 40007283, '0256M': 40007283, '0256T': 40007283, '0316': 40000061, '0259': 40007332, '0260': 40007147, '0262': 40007289, '0263A': 40007449, '0263T': 40007449, '1601': 40001145, '0265HE': 40007107, '026501': 40007107, '0265PO': 40007107, '026506': 40007107, '0265CO': 40007107, '026505': 40007107, '026507': 40007107, '026504': 40007107, '026508': 40007107, '026503': 40007107, '026502': 40007107, '0267': 40007481, '0268AZ': 40007608, '0269': 40007587, '0270': 40001145, '0271': 40000530, '0272': 40007583, '0273': 40007586, '0274AIR': 40007610, '0274AB': 40007610, '0274AI': 40007610, '0274VA': 40007610, '0274HE': 40007610, '0274IG': 40007610, '0274TI': 40007610, '0275': 40007364, '0276': 40007634, '02771': 40007657, '0277F': 40007657, '090615': 40007657, '02BTA': 40007236, '02GF': 40001018, '0300': 40000011, '0315': 40007621, '0302RE': 40007263, '0302': 40007340, '0304': 40000018, '0306': 40007186, '0310': 40007275, '0315sa': 40007626, '0315SP': 40007626, '0315SA': 40007626, '031599': 40007383, '0315RE': 40007172, '0317': 40007015, '0318': 40007342, '0318RE': 40007342, '0319': 40007357, '0320': 40000011, '0320RE': 40000011, '0321': 40007534, '0322': 40007581, '0323': 40007673, '0400': 40007178, '0401': 40007324, '0405': 40000598, '0406': 40000704, '0408': 40000084, '040999': 40000575, '0409': 40000575, '0409TE': 40000575, '0410': 40000592, '0415': 40000736, '0416': 40000704, '0417': 40000749, '0418': 40000972, '0419': 40007298, '0422AL': 40007484, '0422': 40007484, '0422RE': 40007484, '0422NO': 40007484, '0422IS': 40007396, '0422VI': 40007484, '0424': 40007078, '0427SMST': 40007372, '0431': 40007215, '0433': 40000061, '0434': 40000011, '0438AD': 40001031, '0438': 40001031, '0440': 40000547, '0442': 40007401, '0442ES': 40007401, '0443': 40001078, '0449': 40001126, '0453': 40000940, '0454': 40007665, '0457': 40007189, '0458LL': 40007190, '0458ST': 40007190, '0458AC': 40007190, '0458TETF': 40007190, '0459BM': 40007331, '0459': 40007331, '0463': 40007237, '0464': 40007244, '0465': 40000061, '0465RA': 40000061, '0466': 40007254, '0466PM': 40007254, '03VEIA': 40007275, '0471': 40007318, '0472': 40007635, '0473': 40007377, '0475': 40007407, '0480BM': 40007441, '0480IN': 40007441, '0481MGK': 40007447, '0483RE': 40007519, '0483': 40007475, '0484': 40007589, '0485': 40007483, '0486': 40007558, '0487': 40007593, '0499': 40000000, '04R8': 40000138, '0500': 40000536, '0501': 40000536, '0502IX': 40000123, '06ME': 40000814, '0504': 40000536, '0513': 40000649, '2807': 40000536, '0599': 40007404, '0509': 40000536, '0510': 40000873, '0512': 40000649, '0513PP': 40000649, '0514DP': 40007002, '2805': 40000536, '05CG0899': 40007685, '0520': 40007488, '0522': 40007573, '058050': 40007235, '0580': 40007235, '058040': 40007235, 'PROV': 0, '0596': 40000926, '0597': 40000928, '05BC': 40007647, '05BCHA': 40007647, '05CG08VG': 40000520, '05CG02': 40000228, '05CG0299': 40000228, '05CG02AC': 40000228, '05CG02CA': 40000228, '05CG19': 40007378, '05CG03': 0, '05CG0599': 40007232, '05CG05CA': 40007232, '05CG05TE': 40007232, '05CG05AC': 40007232, '05CG05': 40007232, '05CG0798': 40007596, '05CG07R': 40000683, '05CG07': 40000683, '05CG07DM': 40000683, '05CG08': 40000520, '05CG08VC': 40000520, '05CG09PI': 40000228, '05CG10': 40007596, '05CG10DA': 40000683, '05CG12': 40000644, '05CG13': 40007159, '05CG14': 40007318, '05CG15': 40000644, '05CG17': 40007344, '05CG17RE': 40007477, '05CG18': 40007231, '05CG1950': 40007378, '05CG21': 40000718, '05CG22': 40007576, '05CGCR': 40007596, '05CGKA': 40007655, '05TE01RE': 40007404, '05TE01': 40007404, '05TE02': 40000228, '05TE04': 40000011, '05TE05': 40007159, '05TE06': 40007159, '05TE07': 40007159, '05TE1099': 40007596, '05TE10R': 40000683, '05TE10CC': 40007596, '05TE11IA': 40007400, '05TE1199': 40007400, '05TE11AN': 40007400, '05TE11BC': 40007400, '05TE11MO': 40007400, '05TE11BI': 40007400, '05TE11CO': 40007400, '05TE11MC': 40007400, '05TE11OL': 40007400, '05TE11OP': 40007400, '05TE12': 40000718, '05TE14CS': 40000873, '05TE15CN': 40000873, '05TE1599': 40000873, '05TE15RX': 40000713, '05TE17': 40000860, '05TE10BALI': 40007596, '05TE10JU': 40007232, '05TEHAES': 40007647, '05TEHAVH3': 40007647, '05TETDFP': 40007331, '0600': 40007431, '0602': 0, '0603': 0, '0604': 40000567, '0605': 40007199, '0606': 40007199, '0607': 40007067, '0609': 40000346, '0609M1238': 40007689, '0610': 40001145, '0611CP': 40007500, '0613': 40000536, '0616': 40007048, '0618': 40000086, '0619': 40007087, '0621': 40007130, '0635': 40000537, '0630': 40000510, '0631': 40000567, '0633': 40000086, '0634': 40000567, '0636BI': 40000184, '0636': 40000184, '0636SU': 40000184, '0636LL': 40000184, '0636MB': 40000184, '0636PR': 40000184, '0636RI': 40000184, '0636SC': 40000184, '0639': 40007569, '0006': 0, '0642TCE': 40007152, '0642': 40007152, '0642MT': 40007152, '0643': 40007120, '0644': 40000085, '0644SUELO': 40000085, '0779': 40000085, '0644LICA': 40000085, '0644SA': 40000085, '0644GE': 40000085, '0645': 40000838, '0646': 40000117, '0648': 40000117, '0649': 40000057, '0650': 40000965, '0652': 40007103, '0654': 40000814, '0656': 40007427, '0657': 40007591, '0659': 40007533, '0660': 40000055, '0662': 40000668, '0665': 40000732, '1605': 40000154, '0668': 40000530, '0668GU': 40000530, '0668gu': 40000530, '0672': 40001145, '0673': 40000616, '06751': 40007089, '0675': 40007089, '0676': 40000791, '0677': 40000346, '0678': 40007540, '0681': 40000047, '0682': 40000453, '0688': 40007069, '0691': 40007167, '0695': 40007602, '0695MC': 40007602, '0699': 40000704, '0701': 40007694, '0703': 40000138, '0704': 40007650, '0066': 40007614, '0705': 40007625, '0705G': 40007404, '0708PRO': 40007599, '0708': 40007599, '07R005': 40000138, '0709': 40007404, '0711MA': 0, '0713': 40001100, '0719': 40007389, '0730': 40000245, '0731': 40000221, '07R2A6': 40000138, '0743': 40000345, '07BA': 40007385, '0810': 40000085, '0761': 40000975, '0764': 40007009, '0764CO': 40007009, '0770': 40000697, '0770RE35': 40000697, '0771': 40007409, '0773CO': 40007404, '0780': 40000187, '0784': 40007425, '0788': 40007606, '0792': 40007617, '0793': 40000547, '0797': 40001137, '07AD': 40007273, '2002': 40000295, '07AN': 40007313, '07AU': 40007353, '07AV': 40007355, '07AY': 40007371, '07BAPRO': 40007385, '07BB': 40007413, '07BC': 40007398, '07BD': 40007690, '07BL': 40007506, '07BN': 40007037, '07BNM': 40007037, '07BP': 40007566, '07BQ': 40007571, '07av': 40007691, '07PR': 40007109, '07R001': 40000138, '07R008': 40000138, '07R0SE': 40000138, '07R2DE': 40000138, '07R0VE': 40000138, '07R108': 40000138, '07R1VI': 40000138, '07R19': 40000138, '07R1NU': 40000138, '07R1SI': 40000138, '07R2': 40000138, '07R2A8': 40000138, '07R2HH': 40000138, '07R299': 40000138, '07R2A7': 40000138, '07R2A9': 40000138, '07R2ST': 40000138, '07R2DI': 40000138, '07R2KA': 40000138, '07R2MO': 40000138, '07R2SE': 40000138, '07R2SQ': 40000138, '07R3': 40000138, '07R3AX': 40000138, '07R3QU': 40000138, '07R5': 40000138, '0800': 40007133, '0802SN': 40000721, '0803AD': 40000438, '0803': 40007045, '0804PEBL': 40000438, '0803DR': 40000438, '0804': 40007533, '0804BL': 40000438, '0805CA': 40000438, '0805': 40007533, '0806': 40000438, '0806SN8': 40000438, '0807': 40007103, '0808': 40007103, '0808MP': 40007420, '0808SL': 40007103, '0811': 40000876, '0812': 40000085, '0816': 40000838, '0813': 40000085, '0815': 40000085, '0817': 40007324, '0820': 40007233, '0821': 40000536, '0827': 40000838, '0822': 40007681, '0823': 40001031, '0825': 40000438, '0826': 7440, '0828': 40007542, '0830': 40007612, '0832': 40007641, '0844': 40000085, '0870': 40007605, '0900': 40000438, '0900SN': 40000438, '0901': 40007533, '0903': 40000876, '0904': 40001132, '090650': 40001132, '090640': 40001132, '0906': 40001132, '090660': 40001132, '090630': 40001132, '0906RE': 40007476, '090625': 40001132, '1214CP': 40001132, '090620': 40001132, '0910': 40007288, '0911': 40007645, '0914': 40007628, '1001': 40007604, '1004': 40000138, '100499': 40000138, '1005': 40000138, '1004SU': 40000138, '1007': 40001081, '1009': 40000144, '1012': 40007037, '1014': 40007286, '1015': 40007411, '101535': 40007411, '1016': 40007491, '1018': 40007580, '1053': 40000681, '1056': 40000172, '1104': 40000911, '1105': 40000697, '1122': 40007400, '1202': 40000086, '1201': 40000616, '1203': 40000616, '1204': 40000086, '1207': 40000536, '1207UGP': 40000406, '0229UR': 40000154, '0229CT': 40000154, '0229VF': 40000154, '1211': 40001118, '1213': 40007256, '1214RB': 40001132, '1214HU': 40001132, '1251': 40000406, '1215': 40007417, '1216': 40007416, '1618': 40007228, '1253': 40000406, '1257': 40007272, '1806': 40000868, '1402': 40007678, '1404': 40007153, '1406': 40007554, '1506': 40000575, '1509': 40007232, '1511': 40007191, '1512': 40007159, '1514': 40007229, '1515': 40007199, '1517': 40007244, '1518': 40000683, '1519': 40007199, '1521': 40000520, '1522850': 40007475, '1522': 40007475, '1600': 40000346, '1601GE': 40001145, '1601TE': 40001145, '1601ES': 40001145, '1604DR': 40000346, '1603': 40007219, '1603190': 40000592, '1603290': 40000592, '1604IX': 40000346, '07AS': 40007341, '1604VR': 40000346, '1604VRL': 40000154, '1607': 40000691, '1609': 40007184, '1610': 40007147, '1612': 40000154, '1622': 40001132, '1630': 40000085, '1631': 40000438, '1706': 40007103, '1707': 40007627, '1710': 40000868, '1715': 40007567, '1800': 40007682, '1801': 40007103, '1807': 40007108, '1808': 40000558, '1810': 40000913, '1813': 40000813, '1819': 40007548, '1823': 40007638, '1823PRO': 40007638, '1824': 40007640, '1901': 40007527, '1904': 40007594, '2001': 40000050, '2002CL': 40000295, '2003': 40007661, '2006': 40007152, '20R200': 40000138, '20R2ZO': 40000138, '20R201': 40000138, '20R202': 40000138, '20R203': 40000138, '20R204B': 40000138, '20R204SE': 40000138, '20R204W': 40000138, '20R206BG': 40000138, '20R206BS': 40000138, '20R206BV': 40000138, '20R206WG': 40000138, '20R206WS': 40000138, '20R206WV': 40000138, '20R2': 40000138, '20R208': 40000138, '20R209': 40000138, '20R209B': 40000138, '20R209BN': 40000138, '20R209W': 40000138, '20R20TG': 40000138, '20R210': 40000138, '20R214': 40000138, '20R216': 40000138, '20R217BA': 40000138, '20R217WA': 40000138, '20R218ACC': 40000138, '20R299': 40000138, '20R2HA': 40000138, '20R2EL': 40000138, '20R2FR': 40000138, '20R2HL': 40000138, '20R2KHB': 40000138, '20R2KH': 40000138, '20R20S': 40000138, '20R2VR': 40000138, '2200': 40007539, '2530': 40000582, '2700': 40000228, '2708': 40000940, '2712': 40007684, '2701': 40000643, '2704': 40007129, '2710': 40000650, '2714': 40000718, '2716': 40000536, '2717': 40001132, '2720': 40000575, '2721': 40007685, '2722': 40007607, '2727OZ': 40007609, '2801': 40007340, '2802': 40007239, '2918': 40007295, '2923': 40007312, '32JT': 40000085, '32RB': 40000958, 'clavees': 40000138, '0000': 0, 'XX29': 40000289}

In [83]:
clean_df['codigo_fabricante'] = clean_df.apply(
    lambda row: mapeo_2.get(row['codigo_familia']) if pd.isna(row['codigo_fabricante']) else row['codigo_fabricante'],
    axis=1
)

In [84]:
clean_df.isnull().sum()

EJERCICIO               0
FECHA                   0
CLIENTE                 0
DESCRIPCION             0
UNIDADES                0
ARTICULO                0
CODIGO_COMPRA           0
FRECUENCIA_ANUAL        0
VENTA_ANUAL             0
codigo_familia          0
codigo_fabricante    3854
dtype: int64

In [85]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 716765 entries, 0 to 716764
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EJERCICIO          716765 non-null  int64
 1   FECHA              716765 non-null  object
 2   CLIENTE            716765 non-null  int64
 3   DESCRIPCION        716765 non-null  object
 4   UNIDADES           716765 non-null  float64
 5   ARTICULO           716765 non-null  object
 6   CODIGO_COMPRA      716765 non-null  object
 7   FRECUENCIA_ANUAL   716765 non-null  int64
 8   VENTA_ANUAL        716765 non-null  float64
 9   codigo_familia     716765 non-null  object
 10  codigo_fabricante  712911 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 81.7+ MB

In [86]:
clean_df = clean_df.dropna()

In [87]:
clean_df.shape

(712911, 11)

In [88]:
clean_df.to_csv(r'D:\01A-TRABAJO\PYTHON\DATASCIENCE\EJERCICIOS\FINAL_PROJECT\Final_project\raw_data\clean_data_stage_2.csv', index=False)

In [89]:
# Import the CSV file as a DataFrame from where we left it
clean_df_stage_2 = pd.read_csv('raw_data/clean_data_stage_2.csv')

In [90]:
clean_df_stage_2.shape

(712911, 11)

### GUILLERMO PENDIENTE todo lo relacionado con GRUPOS CLIENTES

Tras revisar que esas columnas donde no se encontró la venta anual del cliente son columnas con datos inútiles procedemos a liminar las instancias en las que VENTA_ANUAL es nula

In [72]:
# We will proceed to merge the codigo_familia and codigo_fabricante by ARTICULO = codigo
#clean_df = clean_df.drop(columns = ["codigo","codigo_familia","codigo_fabricante"])

In [73]:
clean_df.isnull().sum()

EJERCICIO           0
FECHA               0
CLIENTE             0
ARTICULO            0
DESCRIPCION         0
UNIDADES            0
CODIGO_COMPRA       0
FRECUENCIA_ANUAL    0
VENTA_ANUAL         0
dtype: int64

In [74]:
clean_df.head()

,EJERCICIO,FECHA,CLIENTE,ARTICULO,DESCRIPCION,UNIDADES,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL
0,2024,2024-04-30 00:00:00.000,1019,0060PDSGPZ10070BL,Plato de ducha de carga mineral textura pizarr...,1.0,SM1-6071,22,28077.52
1,2023,2023-05-31 00:00:00.000,1019,00R00601,VERTEDERO MODELO GARDA A371055000 ROCA ...,1.0,SM1-8041,52,24813.50
2,2021,2021-05-24 00:00:00.000,1019,00R0IT7070BL,PLATO DE DUCHA DE PORCELANA MODELO ITALIA DE 7...,3.0,SM1-9331,21,6723.96
3,2023,2023-08-30 00:00:00.000,1019,00R0VIAIBL9,TANQUE VICTORIA COMPLETO CON ALIMENTACION INFE...,1.0,SM1-12471,52,24813.50
4,2021,2021-04-29 00:00:00.000,1019,00R0VIBL15,TAPA DE TANQUE VICTORIA BLANCO A388396000 ROCA...,1.0,SM1-7671,21,6723.96

We specify the customer groups

In [39]:
grupo_clientes.head()

   codigo  codigo_grupo
0   78499             1
1   79742             1
2   78549             1
3   79636             1
4   78550             1

In [95]:
info_clientes.head()

   codigo codigo_postal          poblacion riesgo_maximo fecha_creacion
0   78499         46700             GANDIA          0,01     05/01/2005
1   79742         46841  CASTELLO DE RUGAT          2000     14/11/2011
2   78549         46702             GANDIA          6000     27/01/2005
3   79636         46185  POBLA DE VALLBONA          0,01     11/05/2011
4   78550         46727     REAL DE GANDIA          0,01     27/01/2005

In [96]:
# Añadimos la columna codigo_grupo a info_clientes.
info_clientes = pd.merge(info_clientes, grupo_clientes[['codigo', 'codigo_grupo']], on='codigo', how='left')

# Verificar si hay algún cliente sin grupo asignado
clientes_sin_grupo = info_clientes[info_clientes['codigo_grupo'].isna()]
print(f"Número de clientes sin grupo asignado: {len(clientes_sin_grupo)}")

Número de clientes sin grupo asignado: 41

In [123]:
# Mostrar las primeras filas del resultado
info_clientes.isnull().sum()

codigo             0
codigo_postal      8
poblacion          5
riesgo_maximo     14
fecha_creacion     1
codigo_grupo      41
dtype: int64

In [100]:
# Filtrar filas con al menos un valor nulo
clientes_con_nulos = info_clientes[info_clientes.isnull().any(axis=1)]

In [102]:
clientes_con_nulos.head()

,codigo,codigo_postal,poblacion,riesgo_maximo,fecha_creacion,codigo_grupo
692,2505,NaN,ALMOINES,"0,01",15/12/2004,1.0
865,2,NaN,NaN,99000000,15/12/2004,1.0
866,1,NaN,NaN,99000000,31/12/2004,2.0
1105,1086,NaN,VALENCIA,"0,01",15/12/2004,1.0
1532,84189,03690,SAN VICENTE DEL RASPEIG,NaN,05/06/2020,34.0

In [101]:
clean_df_stage_2.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL,codigo_familia,codigo_fabricante
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29,28077.52,0028,40007404.0
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29,28077.52,0044,40000662.0
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21,6723.96,0044,40000662.0
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29,28077.52,0064,40000772.0
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51,24813.50,00R006,40000138.0

In [105]:
clientes_con_nulos['codigo'] = clientes_con_nulos['codigo'].astype(str)
clean_df_stage_2['CLIENTE'] = clean_df_stage_2['CLIENTE'].astype(str)

# Crear la nueva columna booleana
clientes_con_nulos['en_clean_df'] = clientes_con_nulos['codigo'].isin(clean_df_stage_2['CLIENTE'])

# Mostrar las primeras filas del resultado
print(clientes_con_nulos[['codigo', 'en_clean_df']].head(10))

# Mostrar un resumen de los resultados
total_clientes = len(clientes_con_nulos)
clientes_encontrados = clientes_con_nulos['en_clean_df'].sum()
clientes_no_encontrados = total_clientes - clientes_encontrados

print(f"Total de clientes con datos nulos: {total_clientes}")
print(f"Clientes encontrados en clean_df_stage_2: {clientes_encontrados}")
print(f"Clientes no encontrados en clean_df_stage_2: {clientes_no_encontrados}")
print('-'*40)

     codigo  en_clean_df
692    2505        False
865       2        False
866       1        False
1105   1086         True
1532  84189         True
1555  21001        False
1556  79282        False
1576  79309        False
1605  79950        False
1686  79862        False
Total de clientes con datos nulos: 61
Clientes encontrados en clean_df_stage_2: 13
Clientes no encontrados en clean_df_stage_2: 48
----------------------------------------

C:\Users\Prueba1\AppData\Local\Temp\ipykernel_16564\1378628819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes_con_nulos['codigo'] = clientes_con_nulos['codigo'].astype(str)
C:\Users\Prueba1\AppData\Local\Temp\ipykernel_16564\1378628819.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes_con_nulos['en_clean_df'] = clientes_con_nulos['codigo'].isin(clean_df_stage_2['CLIENTE'])

In [124]:
# Filtrar el DataFrame para mantener solo los clientes encontrados en clean_df_stage_2
clientes_filtrados = clientes_con_nulos[clientes_con_nulos['en_clean_df']]

# Eliminar la columna 'en_clean_df' ya que ya no es necesaria
clientes_filtrados = clientes_filtrados.drop(columns=['en_clean_df'])

# Mostrar información después del filtrado
print("Después del filtrado:")
print(f"Total de clientes restantes: {len(clientes_filtrados)}")

# Mostrar las primeras filas del DataFrame filtrado
print("Primeras filas del DataFrame filtrado:")
print(clientes_filtrados.head())

# Guardamos el DataFrame filtrado en un nuevo CSV
nombre_archivo = 'clientes_con_nulos_filtrados.csv'
clientes_filtrados.to_csv(nombre_archivo, index=False)
print(f"Se ha guardado el archivo '{nombre_archivo}' con los clientes filtrados.")

Después del filtrado:
Total de clientes restantes: 13
Primeras filas del DataFrame filtrado:
     codigo codigo_postal                poblacion riesgo_maximo  \
1105   1086           NaN                 VALENCIA          0,01
1532  84189         03690  SAN VICENTE DEL RASPEIG           NaN
1693  79869         46730           GRAO DE GANDIA          0,01
1818  80003         46812        AIELO DE MALFERIT          2000
1863  79520           NaN                      NaN         10000

     fecha_creacion  codigo_grupo
1105     15/12/2004           1.0
1532     05/06/2020          34.0
1693     12/06/2012           NaN
1818     28/11/2012           NaN
1863     08/06/2010           1.0
Se ha guardado el archivo 'clientes_con_nulos_filtrados.csv' con los clientes filtrados.

Vamos a eliminar las instancias que tienen valores nulos en info_clientes y a añadir las instancias de clientes_con_nulos_filtrados.csv

In [125]:
print("Número de filas en info_clientes antes de eliminar nulos:", len(info_clientes))
info_clientes_sin_nulos = info_clientes.dropna()
print("Número de filas en info_clientes después de eliminar nulos:", len(info_clientes_sin_nulos))

# Paso 2: Cargar los datos actualizados del CSV
clientes_actualizados = pd.read_csv('clientes_con_nulos_filtrados.csv')
print("Número de filas en clientes_actualizados:", len(clientes_actualizados))

# Paso 3: Asegurarse de que las columnas coincidan
columnas_comunes = info_clientes_sin_nulos.columns.intersection(clientes_actualizados.columns)
info_clientes_sin_nulos = info_clientes_sin_nulos[columnas_comunes]
clientes_actualizados = clientes_actualizados[columnas_comunes]

# Paso 4: Concatenar los DataFrames
info_clientes_actualizado = pd.concat([info_clientes_sin_nulos, clientes_actualizados], ignore_index=True)

# Paso 5: Eliminar duplicados si los hay (basándose en la columna 'codigo' o el identificador único que uses)
info_clientes_actualizado.drop_duplicates(subset=['codigo'], keep='last', inplace=True)

print("Número final de filas en info_clientes_actualizado:", len(info_clientes_actualizado))

# Paso 6: Verificar que no haya valores nulos
print("\nNúmero de valores nulos en cada columna:")
print(info_clientes_actualizado.isnull().sum())

# Paso 7: Guardar el DataFrame actualizado
info_clientes_actualizado.to_csv('info_clientes_actualizado.csv', index=False)
print("\nSe ha guardado el archivo 'info_clientes_actualizado.csv' con los datos actualizados.")

Número de filas en info_clientes antes de eliminar nulos: 8613
Número de filas en info_clientes después de eliminar nulos: 8552
Número de filas en clientes_actualizados: 13
Número final de filas en info_clientes_actualizado: 8565

Número de valores nulos en cada columna:
codigo            0
codigo_postal     2
poblacion         1
riesgo_maximo     3
fecha_creacion    0
codigo_grupo      8
dtype: int64

Se ha guardado el archivo 'info_clientes_actualizado.csv' con los datos actualizados.

In [126]:
info_clientes_actualizado.head()

,codigo,codigo_postal,poblacion,riesgo_maximo,fecha_creacion,codigo_grupo
0,78499,46700,GANDIA,"0,01",05/01/2005,1.0
1,79742,46841,CASTELLO DE RUGAT,2000,14/11/2011,1.0
2,78549,46702,GANDIA,6000,27/01/2005,1.0
3,79636,46185,POBLA DE VALLBONA,"0,01",11/05/2011,1.0
4,78550,46727,REAL DE GANDIA,"0,01",27/01/2005,1.0

In [127]:
# Paso 1: Asegurarse de que 'riesgo_maximo' sea numérico
info_clientes_actualizado['riesgo_maximo'] = pd.to_numeric(info_clientes_actualizado['riesgo_maximo'], errors='coerce')

# Paso 2: Crear la nueva columna 'tiene_credito'
info_clientes_actualizado['tiene_credito'] = np.where(
    (info_clientes_actualizado['riesgo_maximo'].notna()) & 
    (info_clientes_actualizado['riesgo_maximo'] != 0.01),
    1, 0
)

# Paso 3: Verificar la transformación
print("Distribución de valores en 'tiene_credito':")
print(info_clientes_actualizado['tiene_credito'].value_counts(normalize=True))

# Paso 4: Mostrar algunas filas para verificar
print("\nEjemplo de algunas filas:")
print(info_clientes_actualizado[['riesgo_maximo', 'tiene_credito']].head(10))

# Paso 5: Verificar el tipo de datos de 'tiene_credito'
print(f"\nTipo de datos de 'tiene_credito': {info_clientes_actualizado['tiene_credito'].dtype}")

# Paso 6: Verificar si hay algún valor nulo en 'tiene_credito'
nulos_tiene_credito = info_clientes_actualizado['tiene_credito'].isnull().sum()
print(f"Número de valores nulos en 'tiene_credito': {nulos_tiene_credito}")

Distribución de valores en 'tiene_credito':
tiene_credito
0    0.88955
1    0.11045
Name: proportion, dtype: float64

Ejemplo de algunas filas:
   riesgo_maximo  tiene_credito
0            NaN              0
1         2000.0              1
2         6000.0              1
3            NaN              0
4            NaN              0
5            NaN              0
6            NaN              0
7            NaN              0
8         5000.0              1
9            NaN              0

Tipo de datos de 'tiene_credito': int64
Número de valores nulos en 'tiene_credito': 0

In [128]:
info_clientes_actualizado = info_clientes_actualizado.drop(columns=['riesgo_maximo'])

In [129]:
info_clientes_actualizado.head()

,codigo,codigo_postal,poblacion,fecha_creacion,codigo_grupo,tiene_credito
0,78499,46700,GANDIA,05/01/2005,1.0,0
1,79742,46841,CASTELLO DE RUGAT,14/11/2011,1.0,1
2,78549,46702,GANDIA,27/01/2005,1.0,1
3,79636,46185,POBLA DE VALLBONA,11/05/2011,1.0,0
4,78550,46727,REAL DE GANDIA,27/01/2005,1.0,0

In [130]:
clean_df_stage_2.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL,codigo_familia,codigo_fabricante
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29,28077.52,0028,40007404.0
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29,28077.52,0044,40000662.0
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21,6723.96,0044,40000662.0
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29,28077.52,0064,40000772.0
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51,24813.50,00R006,40000138.0

In [131]:
# Modificamos el codigo de cliente a string para compatibilidad del siguiente paso.
info_clientes_actualizado['codigo'] = info_clientes_actualizado['codigo'].astype(str)

In [132]:
# Vamos a añadir la información de los clientes al dataframe principal.
# Especificamos las columnas que vamos a añadir de la información del cliente
columnas_a_añadir = ['codigo', 'codigo_postal', 'poblacion', 'fecha_creacion', 'codigo_grupo', 'tiene_credito']

# Hacemos el merge
clean_df_stage_3 = clean_df_stage_2.merge(info_clientes_actualizado[columnas_a_añadir], left_on='CLIENTE', right_on='codigo', how='left')

# Eliminamos la columna 'codigo' duplicada
clean_df_stage_3 = clean_df_stage_3.drop(columns=['codigo'])

In [133]:
clean_df_stage_3.isnull().sum()

EJERCICIO                0
FECHA                    0
CLIENTE                  0
DESCRIPCION              0
UNIDADES                 0
ARTICULO                 0
CODIGO_COMPRA            0
FRECUENCIA_ANUAL         0
VENTA_ANUAL              0
codigo_familia           0
codigo_fabricante        0
codigo_postal        15667
poblacion            15661
fecha_creacion       15263
codigo_grupo         15473
tiene_credito        15263
dtype: int64

In [134]:
# Identificar las filas donde las nuevas columnas son nulas
filas_nulas = clean_df_stage_3[clean_df_stage_3['codigo_postal'].isnull()]

# Obtener los valores únicos de CLIENTE que resultaron en nulos
clientes_sin_coincidencia = filas_nulas['CLIENTE'].unique()

# Mostrar estos valores únicos
print("Valores únicos de CLIENTE sin coincidencia:")
print(clientes_sin_coincidencia)

Valores únicos de CLIENTE sin coincidencia:
['1086' '1175' '1541' '1573' '1691' '2194' '6048' '6279' '7589' '14054'
 '14185' '78211' '78386' '78599' '78880' '78913' '78954' '79059' '79128'
 '79338' '79407' '79507' '79520' '79541' '79602' '79664' '79759' '79820'
 '79937' '80037' '80092' '80140' '80150' '80160' '80277' '80311' '80384'
 '80454' '80482' '80486' '80533' '80585' '80721' '80833' '80868' '80909'
 '80920' '81008' '81050' '81070' '81118' '81183' '81185' '81321' '81416'
 '81421' '81477' '81525' '81960' '81969' '81970' '82253' '82501' '82881'
 '82959' '83076' '83112' '83234' '83339' '83392' '83480' '83857' '83881'
 '84095' '84254' '84259' '84288' '84329' '84396' '84615' '84765' '84778'
 '84869' '85002' '85110' '85164' '85460' '85567']

Hemos revisado que las instancias con valores nulos en los datos de los clientes, es porque son clientes que se han dado de baja y no nos interesa seguir analizándolos.

In [135]:
clean_df_stage_3.shape

(712911, 16)

In [136]:
# Eliminar filas con valores nulos
clean_df_stage_3 = clean_df_stage_3.dropna()

# Reiniciar el índice si es necesario
clean_df_stage_3 = clean_df_stage_3.reset_index(drop=True)

In [137]:
clean_df_stage_3.shape

(697034, 16)

In [139]:
clean_df_stage_3.isnull().sum()

EJERCICIO            0
FECHA                0
CLIENTE              0
DESCRIPCION          0
UNIDADES             0
ARTICULO             0
CODIGO_COMPRA        0
FRECUENCIA_ANUAL     0
VENTA_ANUAL          0
codigo_familia       0
codigo_fabricante    0
codigo_postal        0
poblacion            0
fecha_creacion       0
codigo_grupo         0
tiene_credito        0
dtype: int64

In [140]:
clean_df_stage_3.head()

,EJERCICIO,FECHA,CLIENTE,DESCRIPCION,UNIDADES,ARTICULO,CODIGO_COMPRA,FRECUENCIA_ANUAL,VENTA_ANUAL,codigo_familia,codigo_fabricante,codigo_postal,poblacion,fecha_creacion,codigo_grupo,tiene_credito
0,2024,2024-02-29 00:00:00.000,1019,GRIFO LLENAVASOS PARA FUENTES DE AGUA REF. 100...,1.0,002810071,SM1-3128,29,28077.52,0028,40007404.0,46700,GANDIA,15/12/2004,1.0,1.0
1,2024,2024-07-31 00:00:00.000,1019,TUBO DE ENLACE KOMBIFIX CON TUERCAS REF. 152.4...,1.0,0044152426461,SM1-11147,29,28077.52,0044,40000662.0,46700,GANDIA,15/12/2004,1.0,1.0
2,2021,2021-01-29 00:00:00.000,1019,FLOTADOR UNIFILL REF. 240.705.00.1 PARA CISTER...,1.0,0044240705001,SM1-1785,21,6723.96,0044,40000662.0,46700,GANDIA,15/12/2004,1.0,1.0
3,2024,2024-04-30 00:00:00.000,1019,Plato de ducha de carga mineral textura pizarr...,1.0,0060PDSGPZ10070BL,SM1-6071,29,28077.52,0064,40000772.0,46700,GANDIA,15/12/2004,1.0,1.0
4,2023,2023-05-31 00:00:00.000,1019,VERTEDERO MODELO GARDA A371055000 ROCA,1.0,00R00601,SM1-8041,51,24813.50,00R006,40000138.0,46700,GANDIA,15/12/2004,1.0,1.0

In [142]:
clean_df_stage_3.to_csv(r'D:\01A-TRABAJO\PYTHON\DATASCIENCE\EJERCICIOS\FINAL_PROJECT\Final_project\data\processed\final_dataset.csv', index=False)